<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div id="content" th:fragment="content">
		<div class="container pt-4 js-admin-tool-container">
			<h2>Edit Job</h2>
			<br>
			<form id="editForm" method="post" class="js-add-search-terms-form" th:action="@{/management/jobs/save}" th:object="${item}">
				<input name="id" type="hidden" th:field="*{id}">
				<div class="form-group">
					<label for="name">Name</label>
					<input th:field="*{name}"
						id="name"
						class="form-control form-control-sm"
						type="text"
						maxlength="100"
						placeholder="Enter job name">
					<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="badge badge-warning"></span>
				</div>
				<div class="form-group">
					<label for="description">Description</label>
					<input th:field="*{description}"
						id="description"
						class="form-control form-control-sm"
						type="text"
						maxlength="100"
						placeholder="Enter job description">
					<span th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="badge badge-warning"></span>
				</div>
				<div class="form-group">
					<label for="enabled">Enabled</label>
					<input th:field="*{enabled}"
						id="enabled"
						class="form-control form-control-sm"
						type="checkbox">
					<span th:if="${#fields.hasErrors('enabled')}" th:errors="*{enabled}" class="badge badge-warning"></span>
				</div>
				<div class="form-group">
					<label for="command">Command</label>
					<div>
						<textarea th:field="*{command}"
							id="command"
							class="form-control form-control-sm"
							name="command"
							required="required"
							rows="10"
							form="editForm"
							placeholder="Enter a Groovy script command">
						</textarea>
					</div>
					<span th:if="${#fields.hasErrors('command')}" th:errors="*{command}" class="badge badge-warning"></span>
				</div>
				<div class="form-group">
					<label for="schedule">Schedule</label>
					<input th:field="*{schedule}"
						id="schedule"
						class="form-control form-control-sm"
						type="text"
						maxlength="100"
						placeholder="Enter cron expression schedule">
					<span th:if="${#fields.hasErrors('schedule')}" th:errors="*{schedule}" class="badge badge-warning"></span>
				</div>
				<div class="form-group">
					<label for="priority">Priority</label>
					<input th:field="*{priority}"
						id="priority"
						class="form-control form-control-sm"
						type="number"
						step="1"
						min="0"
						placeholder="Enter a scheduling priority">
					<span th:if="${#fields.hasErrors('priority')}" th:errors="*{priority}" class="badge badge-warning"></span>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary">Save</button>
					<a class="js-add-search-terms-link" th:href="@{/management/jobs}">
						<button type="button" class="btn btn-info">Cancel</button>
					</a>
				</div>
			</form>
		</div>
	</div>
</body>
</html>