<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div id="content" th:fragment="content">
		<div class="container pt-4 js-admin-tool-container">
			<h2 class="mb-4">Jobs Management</h2>
			<div th:replace="fragments/adminsearch :: adminsearch(page=${items}, url='/management/jobs')"></div>
			<div th:replace="fragments/pagination :: pagination(page=${items}, url='/management/jobs')"></div>
			<table class="table table-sm table-bordered mt-1">
				<thead>
					<tr>
						<th scope="col">ID</th>
						<th scope="col">Name</th>
						<th scope="col">Description</th>
						<th scope="col">Enabled</th>
						<th scope="col">Schedule</th>
						<th scope="col">Priority</th>
						<th scope="col">Controls</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="job : ${items}">
						<td th:text="${job.id}">id</td>
						<td th:text="${job.name}">name</td>
						<td th:text="${job.description}">description</td>
						<td th:text="${job.enabled}">enabled</td>
						<td th:text="${job.schedule}">schedule</td>
						<td th:text="${job.priority}">priority</td>
						<td>
							<form class="form form-row js-add-search-terms-form" method="get" th:action="@{/management/jobs/edit}">
								<input type="hidden" name="id" th:value="${job.id}">
								<button class="btn btn-sm btn-block ml-2 mr-2 mt-1 mb-1 btn-info" type="submit">Edit</button>
							</form>
							<form class="form form-row js-add-search-terms-form" method="post" th:action="@{/management/jobs/delete}">
								<input type="hidden" name="id" th:value="${job.id}">
								<button class="btn btn-sm btn-block ml-2 mr-2 mb-1 btn-danger" type="submit">Delete</button>
							</form>
							<form class="form form-row" method="post" th:action="@{/admin/taskengine/task/job/load}">
								<input type="hidden" name="id" th:value="${job.id}">
								<button class="btn btn-sm btn-block ml-2 mr-2 mb-1 btn-success" type="submit">Create Task</button>
							</form>
						</td>
					</tr>
				</tbody>
			</table>
			<div th:replace="fragments/pagination :: pagination(page=${items}, url='/management/jobs')"></div>
			<form class="form form-row" method="get" th:action="@{/management/jobs/create}">
				<button class="btn btn-sm ml-2 mr-2 mt-1 mb-1 btn-primary" type="submit">Add New</button>
			</form>
		</div>
		<div class="container pt-4">
			<h5 class="mb-4">Export</h5>
			<form class="form form-row js-add-search-terms-form" method="get" th:action="@{/management/jobs/export}">
				<button class="btn btn-sm ml-2 mr-2 mt-1 mb-1 btn-success" type="submit">Export</button>
			</form>
		</div>
		<div class="container pt-4">
			<h5 class="mb-4">Import</h5>
			<form class="form form-row" method="post" enctype="multipart/form-data" th:action="@{/management/jobs/import}">
				<div class="form-group">
					<input id="fileInput" class="form-control form-control-sm" type="file" name="file"/>
				</div>
				<div class="form-group">
					<button class="btn btn-sm ml-2 mr-2 mt-1 mb-1 btn-danger" type="submit">Import</button>
				</div>
			</form>
		</div>
	</div>
</body>
</html>