<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="'HungryHappyHippo - ' + ${pageTitle}">test</title>
	<meta charset="UTF-8">
	<meta name="google" content="notranslate">
	<meta http-equiv="Content-Language" content="en">
	<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/webjars/bootstrap-glyphicons/css/bootstrap-glyphicons.css" />
	<link rel="stylesheet" href="/webjars/bootstrap-slider/css/bootstrap-slider.min.css" />
	<link rel="stylesheet" href="/webjars/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="/webjars/bootstrap-select/css/bootstrap-select.min.css">
	<link rel="stylesheet" th:href="@{/css/easy-autocomplete.min.css}" href="../../css/easy-autocomplete.min.css">
	<link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/main.css" />
</head>
<body>
	<div id="layoutHeader" class="fixed-top" th:include="layout/header :: header">Header</div>
	<div id="layoutNotificationBanner" th:include="'content/notificationBanner' :: content">NotificationBanner</div>
	<div id="layoutContent">
		<div id="pageContent" th:include="'content/' + ${pageContent} :: content">Content</div>
	</div>
	<div id="layoutFooter" th:include="layout/footer :: footer">Footer</div>

	<script src="/webjars/jquery/jquery.min.js"></script>
	<script src="/webjars/popper.js/umd/popper.min.js"></script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
	<script src="/webjars/bootstrap-slider/bootstrap-slider.min.js"></script>
	<script src="/webjars/bootstrap-select/js/bootstrap-select.min.js"></script>

	<script type="text/javascript" src="/js/jquery.easy-autocomplete.min.js"></script>
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBFVl3ewDWxRS6BpekQNWg3yNMigHtbphI&libraries=places"></script>

	<script th:src="@{/js/main.js}" src="../../js/main.js"></script>
	<script th:src="@{/js/address-header.js}" src="../../js/address-header.js"></script>
	<script th:src="@{/js/vendor-restaurants.js}" src="../../js/vendor-restaurants.js"></script>
	<script th:src="@{/js/vendor-restaurants-search-page.js}" src="../../js/vendor-restaurants-search-page.js"></script>
	<script th:src="@{/js/vendor-restaurant-details.js}" src="../../js/vendor-restaurant-details.js"></script>
	<script th:src="@{/js/restaurants.js}" src="../../js/restaurants.js"></script>
	<script th:src="@{/js/restaurants-search-page.js}" src="../../js/restaurants-search-page.js"></script>
	<script th:src="@{/js/restaurant-details.js}" src="../../js/restaurant-details.js"></script>
	<script th:src="@{/js/menus.js}" src="../../js/menus.js"></script>
	<script th:src="@{/js/admin-tools.js}" src="../../js/admin-tools.js"></script>

	<script th:src="@{/js/_autoload.js}" src="../../js/_autoload.js"></script> <!-- This js should be the latest -->
</body>
</html>