<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div id="content" th:fragment="content">
		<div class="container pt-4 js-admin-tool-container">
			<h2 th:text="|Link/Unlink vendor restaurant ${name} to another aggregate|"></h2>
			<br>
			<form id="editForm" method="post" class="js-add-search-terms-form" th:action="@{/management/vendorrestaurants/move}">
				<input name="vendorRestaurantId" type="hidden" th:value="${vendorRestaurantId}">
				<div class="form-group">
					<label for="restaurantId">Restaurant Aggregate ID</label>
					<input id="restaurantId"
						   name="restaurantId"
                           th:value="${restaurantId}"
						   class="form-control form-control-sm"
						   type="text"
						   maxlength="100"
						   placeholder="Enter restaurant aggregate ID">
					<span th:if="${restaurantId != null && #fields.hasErrors('restaurantId')}" th:errors="${restaurantId}" class="badge badge-warning"></span>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary">Save</button>
					<a class="js-add-search-terms-link" th:href="@{/management/vendorrestaurants}">
						<button type="button" class="btn btn-info">Cancel</button>
					</a>
				</div>
			</form>
		</div>
	</div>
</body>
</html>