<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div id="content" th:fragment="content">
		<div class="container pt-4 js-admin-tool-container">
			<h2>Edit Restaurant</h2>
			<br>
			<!--/*@thymesVar id="item" type="io.tmg.hungryhappyhippo.poc.models.dto.RestaurantDto"*/-->
			<form id="editForm" method="post" class="js-add-search-terms-form" th:action="@{/management/restaurants/save}" th:object="${item}">
				<input name="id" type="hidden" th:field="*{id}">
				<div class="form-group">
					<label for="name">Name</label>
					<input th:field="*{name}"
						id="name"
						class="form-control form-control-sm"
						type="text"
						maxlength="100"
						placeholder="Enter aggregate name">
					<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="badge badge-warning"></span>
				</div>
				<div class="form-group">
					<label for="description">Description</label>
					<textarea th:field="*{description}"
							  id="description"
							  class="form-control form-control-sm"
							  placeholder="Enter item descripton"></textarea>
					<span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
				</div>
				<div class="form-group">
					<label for="categoriesPicker">Categories</label>
					<select id="categoriesPicker" name="categories" class="selectpicker w-100" multiple data-live-search="true">
						<!--/*@thymesVar id="categories" type="java.util.List<io.tmg.hungryhappyhippo.poc.models.CategoryModel>"*/-->
						<option th:each="category : ${categories}"
								th:text="${category.name}"
								th:selected="${!#lists.isEmpty(item.categories) && item.categories.contains(category.name)}">
						</option>
					</select>
				</div>
				<div class="form-group">
					<label for="latitude">Latitude</label>
					<input th:field="*{latitude}"
						   id="latitude"
						   class="form-control form-control-sm"
						   type="number"
						   step="any"
						   placeholder="Enter restaurant latitude">
					<span th:if="${#fields.hasErrors('latitude')}" th:errors="*{latitude}" class="badge badge-warning"></span>
				</div>
				<div class="form-group">
					<label for="longitude">Longitude</label>
					<input th:field="*{longitude}"
						   id="longitude"
						   class="form-control form-control-sm"
						   type="number"
						   step="any"
						   placeholder="Enter restaurant longitude">
					<span th:if="${#fields.hasErrors('longitude')}" th:errors="*{longitude}" class="badge badge-warning"></span>
				</div>
				<div class="form-group">
					<label for="address">Address</label>
					<input th:field="*{address}"
						   id="address"
						   class="form-control form-control-sm"
						   type="text"
						   maxlength="100"
						   placeholder="Enter restaurant address">
					<span th:if="${#fields.hasErrors('address')}" th:errors="*{address}" class="badge badge-warning"></span>
				</div>
				<div class="form-group">
					<label for="googlePlaceId">Google Place Id</label>
					<input th:field="*{googlePlaceId}"
						   id="googlePlaceId"
						   class="form-control form-control-sm"
						   type="text"
						   maxlength="100"
						   placeholder="Enter restaurant Google Place Id">
					<span th:if="${#fields.hasErrors('googlePlaceId')}" th:errors="*{googlePlaceId}" class="badge badge-warning"></span>
				</div>
				<div class="form-group">
					<label for="keywords">Keywords</label>
					<textarea th:field="*{keywords}"
							  id="keywords"
							  class="form-control form-control-sm"
							  placeholder="Enter restaurant keywords"></textarea>
					<span th:if="${#fields.hasErrors('keywords')}" th:errors="*{keywords}" class="badge badge-warning"></span>
				</div>
				<div class="form-group">
					<label for="delivery">Delivery</label>
					<input th:field="*{delivery}"
						   id="delivery"
						   class="form-control form-control-sm"
						   type="checkbox">
					<span th:if="${#fields.hasErrors('delivery')}" th:errors="*{delivery}" class="badge badge-warning"></span>
				</div>
				<div class="form-group">
					<label for="pickup">Pickup</label>
					<input th:field="*{pickup}"
						   id="pickup"
						   class="form-control form-control-sm"
						   type="checkbox">
					<span th:if="${#fields.hasErrors('pickup')}" th:errors="*{pickup}" class="badge badge-warning"></span>
				</div>
				<div class="form-group">
					<label for="rating">Rating</label>
					<input th:field="*{rating}"
						   id="rating"
						   class="form-control form-control-sm"
						   type="number"
						   step="any"
						   placeholder="Enter restaurant Rating">
					<span th:if="${#fields.hasErrors('rating')}" th:errors="*{rating}" class="badge badge-warning"></span>
				</div>
				<div class="form-group">
					<label for="promotionalWeight">Promotional Weight</label>
					<input th:field="*{promotionalWeight}"
						   id="promotionalWeight"
						   class="form-control form-control-sm"
						   type="number"
						   step="any"
						   placeholder="Enter restaurant promotional weight">
					<span th:if="${#fields.hasErrors('promotionalWeight')}" th:errors="*{promotionalWeight}" class="badge badge-warning"></span>
				</div>
				<div class="form-group">
					<label for="promotionalContent">Promotional Content</label>
					<input th:field="*{promotionalContent}"
						   id="promotionalContent"
						   class="form-control form-control-sm"
						   type="text"
						   maxlength="100"
						   placeholder="Enter restaurant promotionalContent">
					<span th:if="${#fields.hasErrors('promotionalContent')}" th:errors="*{promotionalContent}" class="badge badge-warning"></span>
				</div>
				<div class="form-group">
					<label for="priceLevel">Price Level</label>
					<input th:field="*{priceLevel}"
						   id="priceLevel"
						   class="form-control form-control-sm"
						   type="number"
						   min="0"
						   max="4"
						   placeholder="Enter price level">
					<span th:if="${#fields.hasErrors('priceLevel')}" th:errors="*{priceLevel}" class="badge badge-warning"></span>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary">Save</button>
					<a class="js-add-search-terms-link" th:href="@{/management/restaurants}">
						<button type="button" class="btn btn-info">Cancel</button>
					</a>
				</div>
			</form>
		</div>
	</div>
</body>
</html>