<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div id="content" th:fragment="content">
		<div class="container pt-4 js-admin-tool-container">
			<h2 class="mb-4">Restaurants Management</h2>
			<div th:replace="fragments/adminsearch :: adminsearch(page=${items}, url='/management/restaurants')"></div>
			<div th:replace="fragments/pagination :: pagination(page=${items}, url='/management/restaurants')"></div>
			<table class="table table-sm table-bordered mt-1">
				<thead>
					<tr>
						<th scope="col">ID</th>
						<th scope="col">Name</th>
						<th scope="col">Address</th>
						<th scope="col">Rating</th>
						<th scope="col">Vendors</th>
						<th scope="col">Controls</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="restaurant : ${items}">
						<td>
							<a th:href="${'/internal/restaurants/' + restaurant.id}" th:text="${restaurant.id}" target="_blank"></a>
						</td>
						<td th:text="${restaurant.name}">name</td>
						<td th:text="${restaurant.address}">address</td>
						<td th:text="${restaurant.rating}">rating</td>
						<td th:text="${restaurant.vendorRestaurants}">vendors</td>
						<td>
							<form class="form form-row js-add-search-terms-form" method="get" th:action="@{/management/restaurants/edit}">
								<input type="hidden" name="id" th:value="${restaurant.id}">
								<button class="btn btn-sm btn-block ml-2 mr-2 mt-1 mb-1 btn-info" type="submit">Edit</button>
							</form>
							<form class="form form-row js-add-search-terms-form" method="post" th:action="@{/management/restaurants/delete}">
								<input type="hidden" name="id" th:value="${restaurant.id}">
								<button class="btn btn-sm btn-block ml-2 mr-2 mb-1 btn-danger" type="submit">Delete</button>
							</form>
						</td>
					</tr>
				</tbody>
			</table>
			<div th:replace="fragments/pagination :: pagination(page=${items}, url='/management/restaurants')"></div>
			<form class="form form-row" method="get" th:action="@{/management/restaurants/create}">
				<button class="btn btn-sm ml-2 mr-2 mt-1 mb-1 btn-primary" type="submit">Add new</button>
			</form>
		</div>
		<div class="container pt-4">
			<h5 class="mb-4">Export</h5>
			<form class="form form-row js-add-search-terms-form" method="get" th:action="@{/management/restaurants/export}">
				<button class="btn btn-sm ml-2 mr-2 mt-1 mb-1 btn-success" type="submit">Export</button>
			</form>
		</div>
		<div class="container pt-4">
			<h5 class="mb-4">Import</h5>
			<form class="form form-row" method="post" enctype="multipart/form-data" th:action="@{/management/restaurants/import}">
				<div class="form-group">
					<input id="fileInput" class="form-control form-control-sm" type="file" name="file"/>
				</div>
				<div class="form-group">
					<button class="btn btn-sm ml-2 mr-2 mt-1 mb-1 btn-danger" type="submit">Import</button>
				</div>
			</form>
		</div>
	</div>
</body>
</html>