<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div id="content" th:fragment="content">
		<div class="container pt-4 js-admin-tool-container">
			<h2>Edit location</h2>
			<br>
			<form id="editForm" method="post" class="js-add-search-terms-form" th:action="@{/management/locations/save}" th:object="${item}">
				<input name="id" type="hidden" th:field="*{id}">
				<div class="form-group">
					<label for="name">Name</label>
					<input th:field="*{name}"
						id="name"
						class="form-control form-control-sm"
						type="text"
						maxlength="100"
						placeholder="Enter location name">
					<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="badge badge-warning"></span>
				</div>
				<div class="form-group">
					<label for="type">Type</label>
					<select th:field="*{type}"
						   id="type"
						   class="form-control form-control-sm"
							type="text">
						<option th:each="loctype : ${T(io.tmg.hungryhappyhippo.poc.models.TargetLocationType).values()}"
								th:value="${loctype}"
								th:text="${loctype}"
								th:selected="${loctype == item.type}"/>
					</select>
					<span th:if="${#fields.hasErrors('type')}" th:errors="*{type}" class="badge badge-warning"></span>
				</div>
				<div class="form-group">
					<label for="latitude">Latitude</label>
					<input th:field="*{latitude}"
						   id="latitude"
						   class="form-control form-control-sm"
						   type="number"
						   step="any"
						   placeholder="Enter location latitude">
					<span th:if="${#fields.hasErrors('latitude')}" th:errors="*{latitude}" class="badge badge-warning"></span>
				</div>
				<div class="form-group">
					<label for="longitude">Longitude</label>
					<input th:field="*{longitude}"
						   id="longitude"
						   class="form-control form-control-sm"
						   type="number"
						   step="any"
						   placeholder="Enter location longitude">
					<span th:if="${#fields.hasErrors('longitude')}" th:errors="*{longitude}" class="badge badge-warning"></span>
				</div>
				<div class="form-group">
					<label for="radius">Radius</label>
					<input th:field="*{radius}"
						   id="radius"
						   class="form-control form-control-sm"
						   type="number"
						   step="any"
						   placeholder="Enter location radius">
					<span th:if="${#fields.hasErrors('radius')}" th:errors="*{radius}" class="badge badge-warning"></span>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary">Save</button>
					<a class="js-add-search-terms-link" th:href="@{/management/locations}">
						<button type="button" class="btn btn-info">Cancel</button>
					</a>
				</div>
			</form>
		</div>
	</div>
</body>
</html>