<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div id="content" th:fragment="content">
		<div class="container pt-4 js-admin-tool-container">
			<h2 class="mb-4">Locations Management</h2>
			<div th:replace="fragments/adminsearch :: adminsearch(page=${items}, url='/management/locations')"></div>
			<div th:replace="fragments/pagination :: pagination(page=${items}, url='/management/locations')"></div>
			<table class="table table-sm table-bordered mt-1">
				<thead>
					<tr>
						<th scope="col">ID</th>
						<th scope="col">Name</th>
						<th scope="col">Type</th>
						<th scope="col">Location (latitude, longitude)</th>
						<th scope="col">Radius (miles)</th>
						<th scope="col">Controls</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="location : ${items}">
						<td th:text="${location.id}">id</td>
						<td th:text="${location.name}">name</td>
						<td><span class="badge badge-dark" th:text="${location.type}">type</span></td>
						<td th:text="${location.latitude + ', ' + location.longitude}">location</td>
						<td th:text="${location.radius}">radius</td>
						<td>
							<form class="form form-row js-add-search-terms-form" method="get" th:action="@{/management/locations/edit}">
								<input type="hidden" name="id" th:value="${location.id}">
								<button class="btn btn-sm btn-block ml-2 mr-2 mt-1 mb-1 btn-info" type="submit">Edit</button>
							</form>
							<form class="form form-row js-add-search-terms-form" method="post" th:action="@{/management/locations/delete}">
								<input type="hidden" name="id" th:value="${location.id}">
								<button class="btn btn-sm btn-block ml-2 mr-2 mb-1 btn-danger" type="submit">Delete</button>
							</form>
						</td>
					</tr>
				</tbody>
			</table>
			<div th:replace="fragments/pagination :: pagination(page=${items}, url='/management/locations')"></div>
			<form class="form form-row" method="get" th:action="@{/management/locations/create}">
				<button class="btn btn-sm ml-2 mr-2 mt-1 mb-1 btn-primary" type="submit">Add new</button>
			</form>
		</div>
		<div class="container pt-4">
			<h5 class="mb-4">Export</h5>
			<form class="form form-row js-add-search-terms-form" method="get" th:action="@{/management/locations/export}">
				<button class="btn btn-sm ml-2 mr-2 mt-1 mb-1 btn-success" type="submit">Export</button>
			</form>
		</div>
		<div class="container pt-4">
			<h5 class="mb-4">Import</h5>
			<form class="form form-row" method="post" enctype="multipart/form-data" th:action="@{/management/locations/import}">
				<div class="form-group">
					<input id="fileInput" class="form-control form-control-sm" type="file" name="file"/>
				</div>
				<div class="form-group">
					<button class="btn btn-sm ml-2 mr-2 mt-1 mb-1 btn-danger" type="submit">Import</button>
				</div>
			</form>
		</div>
	</div>
</body>
</html>