<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div id="content" th:fragment="content">
		<div class="container pt-4 js-admin-tool-container">
			<h2>Edit user</h2>
			<br>
			<form id="editForm" method="post" class="js-add-search-terms-form" th:action="@{/management/users/save}" th:object="${item}">
				<input name="id" type="hidden" th:field="*{id}">
				<div class="form-group">
					<label for="username">Username</label>
					<input th:field="*{username}"
						id="username"
						class="form-control form-control-sm"
						type="text"
						maxlength="100"
						placeholder="Enter username">
					<span th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="badge badge-warning"></span>
				</div>
				<div class="form-group">
					<label for="email">E-mail</label>
					<input th:field="*{email}"
						   id="email"
						   class="form-control form-control-sm"
						   type="email"
						   maxlength="100"
						   placeholder="Enter user e-mail">
					<span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="badge badge-warning"></span>
				</div>
				<div class="form-group">
					<label for="password">Password</label>
					<input th:field="*{password}"
						   id="password"
						   class="form-control form-control-sm"
						   type="password"
						   maxlength="100"
						   placeholder="Enter password">
					<span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="badge badge-warning"></span>
				</div>
				<div class="form-group">
					<label for="confirmPassword">Confirm Password</label>
					<input th:field="*{confirmPassword}"
						   id="confirmPassword"
						   class="form-control form-control-sm"
						   type="password"
						   maxlength="100"
						   placeholder="Confirm password">
					<span th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}" class="badge badge-warning"></span>
				</div>
				<div class="form-group">
					<label for="enabled">Enabled</label>
					<input th:field="*{enabled}"
						   id="enabled"
						   class="form-control form-control-sm"
						   type="checkbox">
					<span th:if="${#fields.hasErrors('enabled')}" th:errors="*{enabled}" class="badge badge-warning"></span>
				</div>
				<div class="form-group">
					<label for="roles">Roles</label>
					<select th:field="*{roles}"
							th:with="roleList = ${ {'SITEUSER', 'RESTAURANTMANAGER'} }"
							id="roles"
							class="form-control form-control-sm"
							multiple="multiple">
						<option th:each="role : ${roleList}"
								th:value="${role}"
								th:text="${role}"
								th:selected="${item.roles.contains(role)}"></option>
					</select>
					<span th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}" class="badge badge-warning"></span>
				</div>
				<div class="form-group">
					<label for="address">Address</label>
					<input th:field="*{address}"
						   id="address"
						   class="form-control form-control-sm"
						   type="text"
						   maxlength="100"
						   placeholder="Enter user address">
					<span th:if="${#fields.hasErrors('address')}" th:errors="*{address}" class="badge badge-warning"></span>
				</div>
				<div class="form-group">
					<label for="latitude">Latitude</label>
					<input th:field="*{latitude}"
						   id="latitude"
						   class="form-control form-control-sm"
						   type="number"
						   step="any"
						   placeholder="Enter location latitude">
					<span th:if="${#fields.hasErrors('latitude')}" th:errors="*{latitude}" class="badge badge-warning"></span>
				</div>
				<div class="form-group">
					<label for="longitude">Longitude</label>
					<input th:field="*{longitude}"
						   id="longitude"
						   class="form-control form-control-sm"
						   type="number"
						   step="any"
						   placeholder="Enter location longitude">
					<span th:if="${#fields.hasErrors('longitude')}" th:errors="*{longitude}" class="badge badge-warning"></span>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary">Save</button>
					<a class="js-add-search-terms-link" th:href="@{/management/users}">
						<button type="button" class="btn btn-info">Cancel</button>
					</a>
				</div>
			</form>
		</div>
	</div>
</body>
</html>