<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div id="content" th:fragment="content">
		<div class="container pt-4 js-admin-tool-container">
			<h2 class="mb-4">Users Management</h2>
			<div th:replace="fragments/adminsearch :: adminsearch(page=${items}, url='/management/users')"></div>
			<div th:replace="fragments/pagination :: pagination(page=${items}, url='/management/users')"></div>
			<table class="table table-sm table-bordered mt-1">
				<thead>
					<tr>
						<th scope="col">ID</th>
						<th scope="col">Username</th>
						<th scope="col">E-mail</th>
						<th scope="col">Enabled</th>
						<th scope="col">Roles</th>
						<th scope="col">Controls</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="user : ${items}">
						<td th:text="${user.id}">id</td>
						<td th:text="${user.username}">username</td>
						<td th:text="${user.email}">email</td>
						<td>
							<input type="checkbox" th:checked="${user.enabled}" disabled="disabled"/>
						</td>
						<td th:text="${user.roles}">roles</td>
						<td>
							<form th:unless="${user.enabled}" class="form form-row js-add-search-terms-form" method="post" th:action="@{/management/users/enable}">
								<input type="hidden" name="id" th:value="${user.id}">
								<button class="btn btn-sm btn-block ml-2 mr-2 mt-1 mb-1 btn-success" type="submit">Enable</button>
							</form>
							<form th:if="${user.enabled}" class="form form-row js-add-search-terms-form" method="post" th:action="@{/management/users/disable}">
								<input type="hidden" name="id" th:value="${user.id}">
								<button class="btn btn-sm btn-block ml-2 mr-2 mt-1 mb-1 btn-warning" type="submit">Disable</button>
							</form>
							<form class="form form-row js-add-search-terms-form" method="get" th:action="@{/management/users/edit}">
								<input type="hidden" name="id" th:value="${user.id}">
								<button class="btn btn-sm btn-block ml-2 mr-2 mt-1 mb-1 btn-info" type="submit">Edit</button>
							</form>
							<form class="form form-row js-add-search-terms-form" method="post" th:action="@{/management/users/delete}">
								<input type="hidden" name="id" th:value="${user.id}">
								<button class="btn btn-sm btn-block ml-2 mr-2 mt-1 mb-1 btn-danger" type="submit">Delete</button>
							</form>
						</td>
					</tr>
				</tbody>
			</table>
			<div th:replace="fragments/pagination :: pagination(page=${items}, url='/management/vendors')"></div>
			<form class="form form-row" method="get" th:action="@{/management/users/create}">
				<button class="btn btn-sm ml-2 mr-2 mt-1 mb-1 btn-primary" type="submit">Add new</button>
			</form>
		</div>
		<div class="container pt-4">
			<h5 class="mb-4">Export</h5>
			<form class="form form-row js-add-search-terms-form" method="get" th:action="@{/management/users/export}">
				<button class="btn btn-sm ml-2 mr-2 mt-1 mb-1 btn-success" type="submit">Export</button>
			</form>
		</div>
		<div class="container pt-4">
			<h5 class="mb-4">Import</h5>
			<form class="form form-row" method="post" enctype="multipart/form-data" th:action="@{/management/users/import}">
				<div class="form-group">
					<input id="fileInput" class="form-control form-control-sm" type="file" name="file"/>
				</div>
				<div class="form-group">
					<button class="btn btn-sm ml-2 mr-2 mt-1 mb-1 btn-danger" type="submit">Import</button>
				</div>
			</form>
		</div>
	</div>
</body>
</html>