<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div id="content" th:fragment="content">
		<div class="container pt-4">
			<p th:class="${'alert ' + (result.success ? 'alert-info' : 'alert-warning') }" th:if="${result != null}" th:text="${result.message + ' | Indexes processed: ' + result.totalIndexesProcessed + ' | Documents processed: ' + result.totalDocumentsProcessed + ' | Total time: ' + result.totalIndexTime}"></p>
			<h2 class="mb-4">Admin Tools</h2>
			<h5>Active Indexes</h5>
			<form class="form form-row" method="post" th:action="@{/admin/index/create}">
				<button type="submit" class="btn btn-block ml-1 mr-1 mb-1 btn-success">Load All Indices/Mappings</button>
			</form>
			<table class="table table-sm table-bordered mt-1">
				<thead>
					<tr>
						<th scope="col">ID</th>
						<th scope="col">Description</th>
						<th scope="col">Total Document Count</th>
						<th scope="col">Controls</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="index : ${indexes}" th:if="${!#strings.startsWith(index.id,'.')}">
						<td th:text="${index.id}">id</td>
						<td th:text="${index.description}">description</td>
						<td th:text="${index.totalDocCount}">totalDocCount</td>
						<td>
							<form class="form form-row" method="post" th:action="@{/admin/index/refresh}">
								<input type="hidden" name="id" th:value="${index.id}">
								<button class="btn btn-sm btn-block ml-2 mr-2 mt-1 mb-1 btn-info" type="submit">Refresh</button>
							</form>
							<form class="form form-row" method="post" th:action="@{/admin/index/clear}">
								<input type="hidden" name="id" th:value="${index.id}">
								<button class="btn btn-sm btn-block ml-2 mr-2 mb-1 btn-warning" type="submit">Clear</button>
							</form>
							<form class="form form-row" method="post" th:action="@{/admin/index/delete}">
								<input type="hidden" name="id" th:value="${index.id}">
								<button class="btn btn-sm btn-block ml-2 mr-2 mb-1 btn-danger" type="submit">Delete</button>
							</form>
						</td>
					</tr>
				</tbody>
			</table>
			<h5>Supported Vendors</h5>
			<form class="form form-row" method="post" th:action="@{/admin/load/vendors}">
				<button type="submit" class="btn btn-block ml-2 mr-2 mt-1 mb-1 btn-success">Load All Vendors</button>
			</form>
			<form th:if="${vendors != null && !vendors.empty && locations != null && !locations.empty}" class="form form-row" method="post" th:action="@{/admin/load/vendorrestaurants}">
				<input type="hidden" name="type" value="vendorrestaurants">
				<button type="submit" class="btn btn-block ml-2 mr-2 mb-1 btn-success">Load All Vendor Restaurant Data</button>
			</form>
			<form th:if="${vendors != null && !vendors.empty && locations != null && !locations.empty}" class="form form-row" method="post" th:action="@{/admin/build/restaurants}">
				<input type="hidden" name="type" value="restaurants">
				<button type="submit" class="btn btn-block ml-2 mr-2 mb-1 btn-success">Build Restaurants from All Vendor Restaurant Data</button>
			</form>
			<table class="table table-sm table-bordered mt-1">
				<thead>
					<tr>
						<th scope="col">ID</th>
						<th scope="col">Name</th>
						<th scope="col">Website</th>
						<th scope="col">Controls</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="vendor : ${vendors}">
						<td th:text="${vendor.id}">id</td>
						<td th:text="${vendor.name}">name</td>
						<td><a th:href="${vendor.websiteUrl}" th:text="${vendor.websiteUrl}"></a></td>
						<td class="text-center">
							<form th:if="${vendors != null && !vendors.empty && locations != null && !locations.empty}" class="form form-row" method="post" th:action="@{/admin/load/request}">
								<input type="hidden" name="id" th:value="${vendor.id}">
								<input type="hidden" name="type" value="vendorrestaurants">
								<button type="submit" class="btn btn-sm btn-block ml-2 mr-2 mt-1 mb-1 btn-success">Load Vendor Restaurant Data</button>
							</form>
							<i th:if="${(vendors != null && vendors.empty) || (locations != null && locations.empty)}">Please load all vendor and location information</i>
							<form class="form form-row" method="post" th:action="@{/admin/vendor/delete}">
								<input type="hidden" name="id" th:value="${vendor.id}">
								<button class="btn btn-sm btn-block ml-2 mr-2 mb-1 btn-danger" type="submit">Delete</button>
							</form>
						</td>
					</tr>
				</tbody>
			</table>
			<h5>Target Locations</h5>
			<form class="form form-row" method="post" th:action="@{/admin/load/locations}">
				<button type="submit" class="btn btn-block ml-2 mr-2 mt-1 mb-1 btn-success">Load All Target Locations</button>
			</form>
			<table class="table table-sm table-bordered mt-1">
				<thead>
					<tr>
						<th scope="col">ID</th>
						<th scope="col">Name</th>
						<th scope="col">Type</th>
						<th scope="col">Location (latitude, longitude)</th>
						<th scope="col">Radius (miles)</th>
						<th scope="col">Controls</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="location : ${locations}">
						<td th:text="${location.id}">id</td>
						<td th:text="${location.name}">name</td>
						<td><span class="badge badge-dark" th:text="${location.type}">type</span></td>
						<td th:text="${location.location.lat + ', ' + location.location.lon}">location</td>
						<td th:text="${location.radius}">radius</td>
						<td>
							<form class="form form-row" method="post" th:action="@{/admin/location/delete}">
								<input type="hidden" name="id" th:value="${location.id}">
								<button class="btn btn-sm btn-block ml-2 mr-2 mb-1 btn-danger" type="submit">Delete</button>
							</form>
						</td>
					</tr>
				</tbody>
			</table>
			<form class="form form-row" method="post" th:action="@{/admin/load/categories}">
				<button type="submit" class="btn btn-block ml-2 mr-2 mt-1 mb-1 btn-success">Load All Categories</button>
			</form>
			<table class="table table-sm table-bordered mt-1">
				<thead>
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Name</th>
					<th scope="col">ImageUrl</th>
					<th scope="col">Preview image</th>
					<th scope="col">Controls</th>
				</tr>
				</thead>
				<tbody>
				<!--/*@thymesVar id="categories" type="java.util.List<io.tmg.hungryhappyhippo.poc.models.CategoryModel>"*/-->
				<tr th:each="category : ${categories}">
					<td th:text="${category.id}">id</td>
					<td th:text="${category.name}">name</td>
					<td>
						<a th:href="${category.imageUrl}" target="_blank" th:text="${category.imageUrl}"></a>
					</td>
					<td>
						<div class="text-center">
							<img class="w-50" th:src="${category.imageUrl}" th:alt="${category.name} + '-image'">
						</div>
					</td>
					<td>
						<form class="form form-row" method="post" th:action="@{/admin/category/delete}">
							<input type="hidden" name="id" th:value="${category.id}">
							<button class="btn btn-sm btn-block ml-2 mr-2 mb-1 btn-danger" type="submit">Delete</button>
						</form>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>