<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div id="alertMessage" th:fragment="alert (type, message)">
    <div class="alert alert-dismissable m-0" th:classappend="'alert-' + ${type}">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
        <span th:text="${message}">Message Content</span>
    </div>
</div>
</body>
</html>