<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div id="home" th:fragment="content">
	<div id="homePageWrapper" class="text-center">
		<div id="searchResults" class="p-4">
			<h2 class="my-3">Welcome, Hungry Happy Hippo</h2>
			<h6 class="">Enter a target search location to start finding restaurants near you</h6>
			<!--<div th:replace="fragments/searchform :: searchform"></div>-->
			<h6>Search for food, not for an app. We serve fresh results from</h6>
			<div class="col py-3">
				<div th:each="vendor : ${T(io.tmg.hungryhappyhippo.poc.models.Vendor).values()}"
					th:class="${'m-1 d-inline-block hyppo-vendor-' + #strings.toLowerCase(#strings.substring(vendor.name, 0, 6))}"></div>
			</div>
		</div>
	</div>
</div>
</body>
</html>