<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<body>

<div id="login" th:fragment="content">

    <div class="container content_container login">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 col-xs-12 col-xs-offset-0">

                <div th:if="${param.error}"
                     th:with="errorMsg=${session['SPRING_SECURITY_LAST_EXCEPTION'].message}">
                    <p style="color: red">Can not login user. Reason: <span th:text="${errorMsg}">Wrong input!</span></p>
                </div>
                <div th:if="${param.logout}">
                    <h1 style="color: blue">Logged out.</h1>
                </div>

                <form name="login_form" id="login_form" method="post" th:action="@{/login}" class="form_login">
                    <div class="white_block">
                        <article>
                            <header class="clearfix">
                                <h4 class="pull-left">Log in</h4>
                            </header>
                            <div class="block-inner">
                                <div class="form-group">
                                    <label>
                                        Username
                                    </label>
                                    <input
                                            class="required form-control"
                                            type="text"
                                            maxlength="64"
                                            name="username"
                                            placeholder="Enter your username..."
                                            required="true"
                                    >
                                </div>
                                <div class="form-group w_margin">
                                    <label>
                                        Password
                                    </label>
                                    <input
                                            class="required form-control"
                                            type="password"
                                            maxlength="64"
                                            name="password"
                                            placeholder="Enter your password..."
                                            required="true"
                                    >
                                </div>
                                <button type="submit"
                                        class="btn btn-black_new btn-large btn-block btn-error text-uppercase "
                                        id="submit_login">
                                    <span class="btn-title" data-original-title="Log in">Log in</span>
                                    <span id="countdown-wrapper" class="circle-outline" style="display: none;">
                                <span id="countdown">3</span>
                            </span>
                                </button>
                            </div>
                        </article>
                    </div>
                    <a href="/reguser" class="pull-left">
                        Create a new account
                    </a>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>