<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div id="menuSearchPage" th:fragment="content">
	<div id="menusSearchPageWrapper" class="text-center">
		<div id="searchCriteriaAccordion">
			<div class="card border-0">
				<div class="card-header hyppo-bg-dark rounded-0" id="searchCriteriaHeader">
					<div class="form-row">
						<div class="col-8">
							<input
									id="inputSearchTerms"
									class="form-control form-control-sm"
									type="search"
									maxlength="100"
									form="searchCriteriaForm"
									name="searchTerms"
									th:value="${param.searchTerms}"
									placeholder="Enter search terms">
						</div>
						<div class="col-4">
							<button class="btn btn-sm btn-info w-100" data-toggle="collapse" data-target="#searchCriteriaContent" aria-expanded="false" aria-controls="searchCriteriaContent">
								Search Filters
							</button>
						</div>
					</div>
				</div>
			</div>

			<div id="searchCriteriaContent" class="collapse" aria-labelledby="searchCriteriaHeader" data-parent="#searchCriteriaAccordion">
				<div class="card-body">

					<!--/*@thymesVar id="filterData" type="io.tmg.hungryhappyhippo.poc.data.search.response.menu.MenuFilterData"*/-->
					<!--/*@thymesVar id="allSorts" type="java.util.List<io.tmg.hungryhappyhippo.poc.data.search.SortOptionData>"*/-->

					<div class="form-group">
						<a href="/menus/search">
							<button id="clearMenuFiltersButton" class="btn btn-info m-1">Clear All Filters</button>
						</a>
					</div>

					<form id="searchCriteriaForm">


						<div class="row">
							<div class="col-4">
								<hr>
								<label for="priceSlider" class="font-weight-bold">Price</label>
								<span id="priceSlider-from" class="pl-1 pr-3"></span>
								<input id="priceSlider" type="text" class="js-sliders"
									   name="priceRange"
									   data-slider-min="0"
									   data-slider-max="100"
									   data-slider-step="0.5"
									   data-slider-value="[0,100]"
									   data-from-value-selector="#priceSlider-from"
									   data-to-value-selector="#priceSlider-to"/>
								<span id="priceSlider-to" class="pl-3"></span>
							</div>
							<div class="col-4">
								<h4 class="text-muted font-italic">Filters are coming soon ...</h4>
							</div>
							<div class="col-4"></div>
						</div>

						<!--TODO: add menu filters-->

						<!--<hr>-->
						<!--<label for="inputSearchVendors" class="font-weight-bold">Vendors</label>-->
						<!--<div id="inputSearchVendors" class="form-group form-row justify-content-center">-->
							<!--<div th:each="vendor : ${allVendors}" class="form-check form-check-inline">-->
								<!--<input class="form-check-input" type="checkbox" th:id="${'inputSearchVendor' + vendor}" name="vendors" th:value="${vendor}" th:checked="${param.vendors != null && #sets.contains(param.vendors, vendor)}">-->
								<!--<label class="form-check-label" th:for="${'inputSearchVendor' + vendor}" th:text="${vendor}">VendorName</label>-->
							<!--</div>-->
						<!--</div>-->

						<!--<hr>-->
						<!--<label for="inputSearchCategories" class="font-weight-bold">Categories</label>-->
						<!--<div id="inputSearchCategories" class="form-group form-row justify-content-center">-->
							<!--<div th:each="category : ${allCategories}" class="form-check form-check-inline">-->
								<!--<input class="form-check-input" type="checkbox" th:id="${'inputSearchCategory' + category}" name="categories" th:value="${category}" th:checked="${param.categories != null && #sets.contains(param.categories, category)}">-->
								<!--<label class="form-check-label" th:for="${'inputSearchCategory' + category}" th:text="${category}">CategoryName</label>-->
							<!--</div>-->
						<!--</div>-->

						<input
								id="inputSearchPageNumber"
								class="form-control form-control-sm"
								type="hidden"
								required="required"
								name="pageNumber"
								th:value="${!#strings.isEmpty(param.pageNumber) ? param.pageNumber : 0}"
								placeholder="Enter search page number">

						<button id="executeSearchButtonAjax" class="btn btn-info m-1">Send AJAX Search Request</button>
						<button id="executeSearchButton" type="submit" class="btn btn-warning m-1">Send Regular Search Request</button>
					</form>
				</div>
			</div>
		</div>

		<div id="searchResults" class="bg-light p-3">
			<h3>Search Results</h3>
			<h5><small class="text-muted"><span id="searchResultsInfo">...No results yet...</span></small></h5>

			<div class="form-group form-row">
				<div id="pageOptions" class="col">
						<label for="inputPageOptions">Display Options</label>
						<select id="inputPageOptions" class="form-control" name="pageSize" form="searchCriteriaForm">
							<option th:each="pageSize : ${allPageSizes}" th:value="${pageSize}" th:text="${'Show ' + pageSize + ' results per page'}" th:selected="${#strings.equals(pageSize, param.pageSize)}">PageSizeOption</option>
						</select>
				</div>
				<div id="sortOptions" class="col">
						<label for="inputSortOptions">Sort Options</label>
						<select id="inputSortOptions" class="form-control" name="sorts" form="searchCriteriaForm">
							<option th:each="sort : ${allSorts}" th:value="${sort.id}" th:text="${sort.name}" th:selected="${param.sorts != null && #sets.contains(param.sorts, sort.id)}">SortOption</option>
						</select>
				</div>
			</div>
			<div id="searchResultsContainer">
				<!--Dynamic content-->
			</div>
			<div id="searchPaginationControl" class="m-3">
				<button id="searchPaginationFirstButton" class="btn btn-sm btn-info text-white">First</button>
				<button id="searchPaginationBackButton" class="btn btn-sm btn-info text-white">Back</button>
				<button id="searchPaginationNextButton" class="btn btn-sm btn-info text-white">Next</button>
				<button id="searchPaginationLastButton" class="btn btn-sm btn-info text-white">Last</button>
				<p class="m-1 font-italic" id="searchPaginationInfo"></p>
			</div>
		</div>
	</div>
</div>
</body>
</html>