<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div id="reguser" th:fragment="content">

    <p th:class="${'alert ' + (result.success ? 'alert-info' : 'alert-warning') }" th:if="${result != null}"
       th:text="${result.message}"></p>
    <div class="container content_container reguser">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 col-xs-12 col-xs-offset-0">
                <form name="reguser_form" id="reguser_form" method="post" th:action="@{/reguser}"
                      class="form_reguser">
                    <div class="white_block">
                            <header class="clearfix">
                                <h4 class="pull-left">Sign up</h4>
                            </header>
                            <div class="block-inner">
                                <div class="form-group">
                                    <label for="inputUserName">Username</label>
                                    <input
                                            id="inputUserName"
                                            class="required form-control"
                                            type="text"
                                            maxlength="64"
                                            name="username"
                                            placeholder="Enter your username..."
                                            required="true"
                                    >
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail">Email</label>
                                    <input
                                            id="inputEmail"
                                            class="required form-control"
                                            type="text email"
                                            maxlength="64"
                                            name="email"
                                            placeholder="Enter your email..."
                                            required="true"
                                    >
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword">Password</label>
                                    <input
                                            id="inputPassword"
                                            class="required form-control"
                                            type="password"
                                            maxlength="64"
                                            name="password"
                                            placeholder="Enter your password..."
                                            required="true"
                                    >
                                </div>
                                <div class="form-group">
                                    <label for="inputPasswordConfirm">Confirm Password</label>
                                    <input
                                            id="inputPasswordConfirm"
                                            class="required form-control"
                                            type="password"
                                            maxlength="64"
                                            name="password_confirm"
                                            placeholder="Confirm your password..."
                                            required="true"
                                    >
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit"
                                        class="btn btn-black_new btn-large btn-block btn-error"
                                        id="submit_reguser">
                                    <span class="btn-title" data-original-title="Sign up">Sign up</span>
                                </button>
                            </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>