<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div id="restaurantDetailsPage" th:fragment="content">
    <div id="restaurantDetailsPageWrapper" class="text-left">

        <!--/*@thymesVar id="restaurantDetailsData" type="io.tmg.hungryhappyhippo.poc.data.details.restaurant.RestaurantDetailsData"*/-->

        <div id="restaurantDetailsResults" class="bg-light p-3 row">

            <div id="restaurantDetailsContainer" class="p-4" th:if="${restaurantDetailsData != null}">

                <div id="restaurantInfo" class="p-2">
                    <div class="row">
                        <h5>
                            <span class="text-info" th:text="${restaurantDetailsData.name}"></span>
                        </h5>
                    </div>

                    <div class="col" id="promotionalContent" th:if="${!#strings.isEmpty(restaurantDetailsData.promotionalContent)}">
                        <h5>
                            <span class="text-success" th:text="${restaurantDetailsData.promotionalContent}"></span>
                        </h5>
                    </div>

                    <div class="col">
                        <small class="text-muted" th:text="${restaurantDetailsData.description}"></small>
                    </div>

                    <div class="col">
                        Address: <small class="text-muted" th:text="${restaurantDetailsData.address}"></small>
                        <small class="text-muted"
                               th:if="${restaurantDetailsData.distance != null}"
                               th:text="${'(' + #numbers.formatDecimal(restaurantDetailsData.distance, 1, 2, 'POINT') + ' miles away)'}"></small>
                    </div>

                    <div class="col">
                        Categories: <small class="text-muted" th:text="${restaurantDetailsData.categories}"></small>
                    </div>

                    <div class="col">
                        Keywords: <small class="text-muted" th:text="${restaurantDetailsData.keywords}"></small>
                    </div>

                    <div class="col">
                        Rating: <span th:text="${restaurantDetailsData.rating}">Not yet rated</span>
                    </div>

                    <div class="col" th:if="${restaurantDetailsData.priceLevel != null}">
                        Price Level: <span class="text-muted" th:each="i: ${#numbers.sequence(1, restaurantDetailsData.priceLevel)}">$</span>
                    </div>

                    <div class="col">
                        Delivery Supported: <span th:replace="fragments/boolean :: boolean(value=${restaurantDetailsData.delivery})">Unavailable</span>
                    </div>

                    <div class="col">
                        Pickup Supported: <span th:replace="fragments/boolean :: boolean(value=${restaurantDetailsData.pickup})">Unavailable</span>
                    </div>

                </div>

                <iframe th:if="${restaurantDetailsData.googlePlaceId}"
                    width="600"
                    height="450"
                    frameborder="0"
                    style="border:0"
                    th:src="${'https://www.google.com/maps/embed/v1/place?q=place_id:' + restaurantDetailsData.googlePlaceId + '&key=AIzaSyBFVl3ewDWxRS6BpekQNWg3yNMigHtbphI'}"
                    allowfullscreen>
                </iframe>

                <div id="vendors-info" class="p-2" th:if="${!#lists.isEmpty(restaurantDetailsData.vendorRestaurants)}">
                    <span>Available vendors:</span>

                    <ul class="nav nav-tabs pt-2" id="vendorTab" role="tablist">
                        <li class="nav-item" th:each="vendorRestaurant : ${restaurantDetailsData.vendorRestaurants}">
                            <a class="nav-link"
                               th:id="${vendorRestaurant.id} + '-tab'"
                               th:text="${vendorRestaurant.vendor}"
                               th:href="'#' + ${vendorRestaurant.id.replace('.', '\.')}"
                               data-toggle="tab" role="tab" aria-controls="home" aria-selected="false"></a>
                        </li>
                    </ul>
                    <div class="tab-content" id="vendorTabContent">
                        <div th:each="vendorRestaurant : ${restaurantDetailsData.vendorRestaurants}"
                             th:id="${vendorRestaurant.id}"
                             th:data-vendor="${vendorRestaurant.vendor}"
                             th:aria-labelledby="${vendorRestaurant.id} + '-tab'"
                             class="tab-pane fade show p-2"
                             role="tabpanel">

                            <div>
                                <span class="text-info">Restaurant Vendor Info:</span>
                                <small>
                                    <a class="font-italic" th:href="${vendorRestaurant.vendorUrl}" target="_blank">(Go to vendor site)</a>
                                </small>
                            </div>

                            <div id="vendorRestaurantInfo" class="pt-2">
                                <div>
                                    <div class="col">
                                        Rating: <span class="text-muted" th:text="${vendorRestaurant.rating}"></span>
                                    </div>
                                    <div class="col">
                                        Delivery Supported: <span class="text-muted" th:text="${vendorRestaurant.delivery}"></span>
                                    </div>
                                    <div class="col">
                                        Pickup Supported: <span class="text-muted" th:text="${vendorRestaurant.pickup}"></span>
                                    </div>
                                    <div class="col">
                                        Vendor Categories: <span class="text-muted" th:text="${vendorRestaurant.vendorCategories}"></span>
                                    </div>
                                </div>

                                <hr>

                                <div id="restaurantAvailabilityDetails">
                                    <!--Ajax-driven content-->
                                    <span>Loading restaurant availability information...</span>
                                    <i class="fa fa-spinner fa-spin" style="font-size:24px"></i>
                                </div>
                            </div>

                            <hr>
                            <div>
                                <span class="text-info">Restaurant Menu:</span>
                            </div>

                            <div id="vendorRestaurantMenuInfo" class="pt-2">
                                <!--Ajax-driven content-->
                                <span>Loading menus...</span>
                                <i class="fa fa-spinner fa-spin" style="font-size:24px"></i>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>