<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div id="content" th:fragment="content">
		<div class="container pt-4">
			<h2 class="mb-2">Task Engine</h2>
			<h5 class="text-info font-italic" th:text="${'Status: ' + taskEngineStatus}">taskenginestatus</h5>
			<form class="form form-row" method="post" th:action="@{/admin/taskengine/start}">
				<button type="submit" class="btn btn-block ml-2 mr-2 mt-1 mb-1 btn-success">Start Task Engine</button>
			</form>
			<form class="form form-row" method="post" th:action="@{/admin/taskengine/pause}">
				<button type="submit" class="btn btn-block ml-2 mr-2 mt-1 mb-1 btn-success">Pause Task Engine</button>
			</form>
			<form class="form form-row" method="post" th:action="@{/admin/taskengine/resume}">
				<button type="submit" class="btn btn-block ml-2 mr-2 mt-1 mb-1 btn-success">Resume Task Engine</button>
			</form>
			<form class="form form-row" method="post" th:action="@{/admin/taskengine/clear}">
				<button type="submit" class="btn btn-block ml-2 mr-2 mt-1 mb-1 btn-success">Clear All Tasks from Task Engine</button>
			</form>
			<form class="form form-row" method="post" th:action="@{/admin/taskengine/task/job/loadall}">
				<button type="submit" class="btn btn-block ml-2 mr-2 mt-1 mb-1 btn-success">Load All Jobs into Task Engine</button>
			</form>
			<form class="form form-row" method="post" th:action="@{/admin/taskengine/task/persistent/loadall}">
				<button type="submit" class="btn btn-block ml-2 mr-2 mt-1 mb-1 btn-success">Load All Stored Tasks into Task Engine</button>
			</form>
			<form class="form form-row" method="post" th:action="@{/admin/taskengine/task/persistent/saveall}">
				<button type="submit" class="btn btn-block ml-2 mr-2 mt-1 mb-1 btn-success">Save All Tasks into Storage</button>
			</form>
			<form class="form form-row" method="post" th:action="@{/admin/taskengine/destroy}">
				<button type="submit" class="btn btn-block ml-2 mr-2 mt-1 mb-1 btn-success">Destroy Task Engine</button>
			</form>
			<table class="table table-sm table-bordered mt-1">
				<thead>
					<tr>
						<th scope="col">Id</th>
						<th scope="col">Name</th>
						<th scope="col">Description</th>
						<th scope="col">Enabled</th>
						<th scope="col">Schedule</th>
						<th scope="col">Priority</th>
						<th scope="col">Status</th>
						<th scope="col">Last Start Time</th>
						<th scope="col">Last End Time</th>
						<th scope="col">Last Execution Status</th>
						<th scope="col">Last Execution Result</th>
						<th scope="col">Controls</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="task : ${tasks}">
						<td th:text="${task.id}">id</td>
						<td th:text="${task.name}">name</td>
						<td th:text="${task.description}">description</td>
						<td th:text="${task.enabled}">enabled</td>
						<td th:text="${task.schedule}">schedule</td>
						<td th:text="${task.priority}">priority</td>
						<td th:text="${task.status}">status</td>
						<td th:text="${task.lastStartTime}">laststarttime</td>
						<td th:text="${task.lastEndTime}">lastendtime</td>
						<td th:text="${task.lastExecutionStatus}">lastexecutionstatus</td>
						<td th:text="${task.lastExecutionResult}">lastexecutionresult</td>
						<td>
							<form class="form form-row" method="post" th:action="@{/admin/taskengine/task/remove}">
								<input type="hidden" name="id" th:value="${task.id}">
								<button class="btn btn-sm btn-block ml-2 mr-2 mb-1 btn-danger" type="submit">Remove</button>
							</form>
							<form class="form form-row" method="post" th:action="@{/admin/taskengine/task/execute}">
								<input type="hidden" name="id" th:value="${task.id}">
								<button class="btn btn-sm btn-block ml-2 mr-2 mb-1 btn-danger" type="submit">Execute</button>
							</form>
							<form class="form form-row" method="post" th:action="@{/admin/taskengine/task/schedule}">
								<input type="hidden" name="id" th:value="${task.id}">
								<button class="btn btn-sm btn-block ml-2 mr-2 mb-1 btn-danger" type="submit">Schedule</button>
							</form>
							<form class="form form-row" method="post" th:action="@{/admin/taskengine/task/unschedule}">
								<input type="hidden" name="id" th:value="${task.id}">
								<button class="btn btn-sm btn-block ml-2 mr-2 mb-1 btn-danger" type="submit">Unschedule</button>
							</form>
							<form class="form form-row" method="post" th:action="@{/admin/taskengine/task/pause}">
								<input type="hidden" name="id" th:value="${task.id}">
								<button class="btn btn-sm btn-block ml-2 mr-2 mb-1 btn-danger" type="submit">Pause</button>
							</form>
							<form class="form form-row" method="post" th:action="@{/admin/taskengine/task/resume}">
								<input type="hidden" name="id" th:value="${task.id}">
								<button class="btn btn-sm btn-block ml-2 mr-2 mb-1 btn-danger" type="submit">Resume</button>
							</form>
							<form class="form form-row" method="post" th:action="@{/admin/taskengine/task/stop}">
								<input type="hidden" name="id" th:value="${task.id}">
								<button class="btn btn-sm btn-block ml-2 mr-2 mb-1 btn-danger" type="submit">Stop</button>
							</form>
							<form class="form form-row" method="post" th:action="@{/admin/taskengine/task/persistent/save}">
								<input type="hidden" name="id" th:value="${task.id}">
								<button class="btn btn-sm btn-block ml-2 mr-2 mb-1 btn-danger" type="submit">Save to Storage</button>
							</form>
							<form class="form form-row" method="get" th:action="@{/management/runtimetasks/edit}">
								<input type="hidden" name="id" th:value="${task.id}">
								<button class="btn btn-sm btn-block ml-2 mr-2 mb-1 btn-danger" type="submit">Modify Task</button>
							</form>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>