<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div id="userprofile" th:fragment="content">

    <p th:class="${'alert ' + (result.success ? 'alert-info' : 'alert-warning') }" th:if="${result != null}"
       th:text="${result.message}"></p>
    <div class="container content_container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 col-xs-12 col-xs-offset-0">
                <form id="userprofile_form" method="post" th:action="@{/userprofile}">

                    <header class="clearfix">
                        <h4 class="pull-left">User profile</h4>
                    </header>

                    <div class="block-inner">

                        <div class="form-group">
                            <img width="32px" height="32px" src="images\profile-account.svg">
                            <span id="userName" style="font-weight:bold; font-size:large;"
                                  th:text="${userprofile.username}"></span>
                        </div>

                        <div class="form-group">
                            <label for="email">Email</label>
                            <input id="email"
                                   name="email"
                                   th:value="${userprofile.email}"
                                   class="required form-control"
                                   type="email"
                                   maxlength="64"
                                   required="required"
                            >
                        </div>
                        <div class="form-group">
                            <label for="userAddress">Address</label>
                            <input
                                    id="userAddress"
                                    th:value="${userprofile.address}"
                                    name="address"
                                    class="form-control form-control-sm"
                                    type="search"
                                    placeholder="Enter a valid address or location">

                            <input
                                    id="userAddressLatitude"
                                    th:value="${userprofile.latitude}"
                                    type="hidden"
                                    name="latitude">

                            <input
                                    id="userAddressLongitude"
                                    th:value="${userprofile.longitude}"
                                    type="hidden"
                                    name="longitude">
                        </div>

                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>

                <form name="userpassword_form" id="userpassword_form" method="post" th:action="@{/changepassword}"
                      class="form">

                    <div class="block-inner">

                        <div class="form-group">
                            <label for="inputPassword">New password</label>
                            <input
                                    id="inputPassword"
                                    class="required form-control"
                                    type="password"
                                    maxlength="64"
                                    name="password"
                                    placeholder="Enter your new password..."
                                    required="required"
                            >
                        </div>
                        <div class="form-group">
                            <label for="inputPasswordConfirm">Confirm new password</label>
                            <input
                                    id="inputPasswordConfirm"
                                    class="required form-control"
                                    type="password"
                                    maxlength="64"
                                    name="password_confirm"
                                    placeholder="Confirm your new password..."
                                    required="required"
                            >
                        </div>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Change password</button>
                    </div>

                </form>
            </div>
        </div>
    </div>

</div>
</body>
</html>