<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div id="vendorRestaurantSearchPage" th:fragment="content">
	<div id="vendorRestaurantsSearchPageWrapper" class="text-center">
		<div id="searchCriteriaAccordion">
			<div class="card border-0">
				<div class="card-header hyppo-bg-dark rounded-0" id="searchCriteriaHeader">
					<div class="form-row">
						<div class="col-8">
							<input
									id="inputSearchTerms"
									class="form-control form-control-sm"
									type="search"
									maxlength="100"
									form="searchCriteriaForm"
									name="searchTerms"
									th:value="${param.searchTerms}"
									placeholder="Enter search terms">
						</div>
						<div class="col-4">
							<button class="btn btn-sm btn-info w-100" data-toggle="collapse" data-target="#searchCriteriaContent" aria-expanded="false" aria-controls="searchCriteriaContent">
								Search Filters
							</button>
						</div>
					</div>
				</div>
			</div>

			<div id="searchCriteriaContent" class="collapse" aria-labelledby="searchCriteriaHeader" data-parent="#searchCriteriaAccordion">
				<div class="card-body">

					<!--/*@thymesVar id="filterData" type="io.tmg.hungryhappyhippo.poc.data.search.response.restaurant.RestaurantFilterData"*/-->
					<!--/*@thymesVar id="allVendors" type="java.util.List<io.tmg.hungryhappyhippo.poc.data.search.response.VendorsFilterData>"*/-->
					<!--/*@thymesVar id="allCategories" type="java.util.List<io.tmg.hungryhappyhippo.poc.data.search.response.CategoryFilterData>"*/-->
					<!--/*@thymesVar id="allSorts" type="java.util.List<io.tmg.hungryhappyhippo.poc.data.search.SortOptionData>"*/-->

					<div class="form-group">
						<a href="/internal/vendorrestaurants/search?sorts=relevance">
							<button id="clearRestaurantFiltersButton" class="btn btn-info m-1">Clear All Filters</button>
						</a>
					</div>

					<form id="searchCriteriaForm">


						<div class="row">
							<div class="col-4">
                                <hr>
                                <label for="distanceSlider" class="font-weight-bold">Distance</label>
                                <span id="distanceSlider-from" class="pl-1 pr-3"></span>
                                <input id="distanceSlider" type="text" class="js-sliders"
                                       name="distance"
                                       data-slider-min="0"
                                       data-slider-max="15"
                                       th:data-slider-value="${(filterData.distance != null) ? filterData.distance : '10'}"
                                       data-slider-step="0.1"
                                       data-from-value-selector="#distanceSlider-from"/>
							</div>
							<div class="col-4">
								<hr>
								<!--Delivery/Pickup-->
								<div class="form-group">
									<input type="button" id="deliveryButton" name="deliveryButton" value="Delivery"
										   data-service-option="delivery"
										   th:class="${'btn btn-sm mb-1 ' + (#strings.equals(filterData.serviceOption, 'delivery') ? 'btn-success' : 'btn-dark')} ">

									<input type="button" id="pickupButton" name="pickupButton" value="Pickup"
										   data-service-option="pickup"
										   th:class="${'btn btn-sm mb-1 ' + (#strings.equals(filterData.serviceOption, 'pickup') ? 'btn-success' : 'btn-dark')} ">

									<input type="hidden" id="serviceOption" name="serviceOption" th:value="${filterData.serviceOption}" />
								</div>

								<hr>
								<!--Rating-->
								<label for="rating" class="font-weight-bold">Rating</label>
								<div class="form-row justify-content-center">
									<div id="rating" class="rating">
										<input type="radio" id="star5" name="rating" value="5" th:checked="${filterData.rating == 5}"/>
										<label for="star5">5 stars</label>
										<input type="radio" id="star4" name="rating" value="4" th:checked="${filterData.rating == 4}"/>
										<label for="star4">4 stars</label>
										<input type="radio" id="star3" name="rating" value="3" th:checked="${filterData.rating == 3}"/>
										<label for="star3">3 stars</label>
										<input type="radio" id="star2" name="rating" value="2" th:checked="${filterData.rating == 2}"/>
										<label for="star2">2 stars</label>
										<input type="radio" id="star1" name="rating" value="1" th:checked="${filterData.rating == 1}"/>
										<label for="star1">1 star</label>
									</div>
								</div>
							</div>
							<div class="col-4"></div>
						</div>

						<hr>
						<label for="inputSearchVendors" class="font-weight-bold">Vendors</label>
						<div id="inputSearchVendors" class="form-group form-row justify-content-center">
							<div th:each="vendor : ${allVendors}" class="form-check form-check-inline">
								<input class="form-check-input" type="checkbox" th:id="${'inputSearchVendor' + vendor}" name="vendors" th:value="${vendor}" th:checked="${param.vendors != null && #sets.contains(param.vendors, vendor)}">
								<label class="form-check-label" th:for="${'inputSearchVendor' + vendor}" th:text="${vendor}">VendorName</label>
							</div>
						</div>

						<hr>
						<label for="inputSearchCategories" class="font-weight-bold">Categories</label>
						<div id="inputSearchCategories" class="form-group form-row justify-content-center">
							<div th:each="category : ${filterData.vendorCategories}" class="form-check form-check-inline">
								<input class="form-check-input" type="checkbox" th:id="${'inputSearchCategory' + category.name}" name="categories" th:value="${category.name}" th:checked="${param.categories != null && #sets.contains(param.categories, category.name)}">
								<label class="form-check-label" th:for="${'inputSearchCategory' + category.name}" th:text="${category.name}">CategoryName</label>
								<span th:text="${'(' + category.count + ')'}"></span>
							</div>
						</div>
						<input
								id="inputSearchLatitude"
								type="hidden"
								required="required"
								name="latitude"
								th:value="${param.latitude}"
								placeholder="Enter search latitude">
						<input
								id="inputSearchLongitude"
								type="hidden"
								required="required"
								name="longitude"
								th:value="${param.longitude}"
								placeholder="Enter search longitude">

						<input
								id="inputSearchAddress"
								type="hidden"
								required="required"
								name="address"
								th:value="${param.address}"
								placeholder="Enter search address">

						<input
								id="inputSearchPageSize"
								type="hidden"
								name="pageSize"
								th:value="${result.pageSize}">

						<button id="executeSearchButtonAjax" class="btn btn-info m-1">Refresh Search Results</button>
					</form>
				</div>
			</div>
		</div>

		<!--/*@thymesVar id="result" type="io.tmg.hungryhappyhippo.poc.data.search.response.restaurant.RestaurantResponseData"*/-->
		<div id="searchResults" class="bg-light p-3">
			<h3>Search Results</h3>
			<h5>
				<small class="text-muted">
					<span id="searchResultsInfo">
						<span th:if="${#lists.isEmpty(result.data)}">
							No items found matching the provided search criteria/filters
						</span>
						<span th:if="${!#lists.isEmpty(result.data)}" th:text="${'Showing ' + ((result.pageNumber * result.pageSize) + result.dataSize) + ' items of ' + result.totalResults + ' total results'}">
						</span>
					</span>
				</small>
			</h5>

			<div id="sortOptionsControl" th:class="${(!#lists.isEmpty(result.data) ? '' : ' d-none')}">
				<div class="form-group form-row row">
					<div class="col-10"></div>
					<div id="sortOptions" class="col-2">
						<label for="inputSortOptions">Sort Options</label>
						<select id="inputSortOptions" class="form-control" name="sorts" form="searchCriteriaForm">
							<option th:each="sort : ${allSorts}" th:value="${sort.id}" th:text="${sort.name}" th:selected="${param.sorts != null && #sets.contains(param.sorts, sort.id)}">SortOption</option>
						</select>
					</div>
				</div>
			</div>
			<div id="searchResultsContainer">

				<div th:if="${!#lists.isEmpty(result.data)}" th:each="searchResult : ${result.data}">
					<div th:replace="fragments/vendorrestaurant :: vendorrestaurant(searchResult=${searchResult})"></div>
				</div>

			</div>
			<div id="loadMoreControl" th:class="${'m-1' + ((!#lists.isEmpty(result.data) && result.hasMoreResults) ? '' : ' d-none')}">
				<a href="javascript:void(0);">
					<span class="btn hyppo-btn-enter">Load More</span>
				</a>
			</div>
			<div id="backToTopOfPageControl" th:class="${'mt-1' + (!#lists.isEmpty(result.data) ? '' : ' d-none')}">
				<a href="javascript:void(0);">
					<span class="btn btn-info">Back to Top</span>
				</a>
			</div>
		</div>
	</div>
</div>
</body>
</html>