<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div id="vendorRestaurantDetailsPage" th:fragment="content">
    <div id="vendorRestaurantDetailsPageWrapper" class="text-left">

        <div id="vendorRestaurantDetailsResults" class="bg-light p-3">
            <div id="vendorRestaurantDetailsContainer" th:if="${restaurantDetailsData != null}">

                <div class="border row">
                    <div class="col-4 col-lg-3">
                        <img th:src="${restaurantDetailsData.imageUrl}" width="100%" height="100%">
                    </div>
                    <div class="col-8 col-lg-9">
                        <hr class="mr-0">
                        <div class="row" id="promotionalContent" th:if="${!#strings.isEmpty(restaurantDetailsData.promotionalContent)}">
                            <h5>
                                <span class="text-success" th:text="${restaurantDetailsData.promotionalContent}"></span>
                            </h5>
                        </div>
                        <div class="row">
                            <h5>
                                <span class="text-dark font-weight-bold" th:text="${restaurantDetailsData.name}"></span>
                                <small class="text-muted font-italic" th:text="${' - via ' + restaurantDetailsData.vendor}"></small>
                                <small>
                                    <a class="font-italic" th:href="${restaurantDetailsData.vendorUrl}" target="_blank">Go to vendor site</a>
                                </small>
                            </h5>
                        </div>
                        <div class="row">
                            <small class="text-muted" th:text="${'Address: ' + restaurantDetailsData.address}"></small>
                        </div>
                        <div class="row">
                            <small class="text-muted" th:text="${'Location: ' + restaurantDetailsData.location.lat + ', ' + restaurantDetailsData.location.lon}"></small>
                        </div>
                        <div class="row">
                            <span th:replace="fragments/rating :: rating(value=${restaurantDetailsData.rating})">Not yet rated</span>
                        </div>
                        <hr class="mr-0">
                        <div class="row">
                            <div class="col">
                                <p class="text-muted mb-0">Open: <span th:replace="fragments/boolean :: boolean(value=${restaurantDetailsData.restaurantAvailabilityDetails.open})">Unavailable</span></p>
                            </div>
                            <div class="col">
                                <p class="text-muted mb-0">Delivery Supported: <span th:replace="fragments/boolean :: boolean(value=${restaurantDetailsData.delivery})">Unavailable</span></p>
                            </div>
                            <div class="col">
                                <p class="text-muted mb-0">Pickup Supported: <span th:replace="fragments/boolean :: boolean(value=${restaurantDetailsData.pickup})">Unavailable</span></p>
                            </div>
                        </div>
                        <hr class="mr-0">
                        <div class="row">
                            <div class="col">
                                <p class="text-muted mb-0">Delivery Currently Available: <span th:replace="fragments/boolean :: boolean(value=${restaurantDetailsData.restaurantAvailabilityDetails.deliveryAvailable})">Unavailable</span></p>
                            </div>
                            <div class="col">
                                <p class="text-muted mb-0">Delivery Fee: <span th:replace="fragments/price :: price(value=${restaurantDetailsData.restaurantAvailabilityDetails.deliveryFee}, showFree=true)">Unavailable</span></p>
                            </div>
                            <div class="col">
                                <p class="text-muted mb-0">Delivery Estimate: <span th:replace="fragments/duration :: duration(value=${restaurantDetailsData.restaurantAvailabilityDetails.deliveryEstimate})">Unavailable</span></p>
                            </div>
                        </div>
                        <hr class="mr-0">
                        <div class="row">
                            <div class="col">
                                <p class="text-muted mb-0">Pickup Currently Available: <span th:replace="fragments/boolean :: boolean(value=${restaurantDetailsData.restaurantAvailabilityDetails.pickupAvailable})">Unavailable</span></p>
                            </div>
                            <div class="col">
                                <p class="text-muted mb-0">Pickup Estimate: <span th:replace="fragments/duration :: duration(value=${restaurantDetailsData.restaurantAvailabilityDetails.pickupEstimate})">Unavailable</span></p>
                            </div>
                        </div>
                        <hr class="mr-0">
                        <div class="row">
                            <div class="col">
                                Vendor Categories: <small class="text-muted" th:text="${restaurantDetailsData.vendorCategories}"></small>
                            </div>
                        </div>
                        <hr class="mr-0">
                    </div>
                </div>

                <iframe th:if="${restaurantDetailsData.googlePlaceId}"
                    width="600"
                    height="450"
                    frameborder="0"
                    style="border:0"
                    th:src="${'https://www.google.com/maps/embed/v1/place?q=place_id:' + restaurantDetailsData.googlePlaceId + '&key=AIzaSyBFVl3ewDWxRS6BpekQNWg3yNMigHtbphI'}"
                    allowfullscreen>
                </iframe>

                <hr class="mr-0">
                <hr class="mr-0">
                <div class="text-left text-info" th:if="${!#lists.isEmpty(restaurantDetailsData.menuCategoryDataList)}">
                    <h4>Restaurant Menu:</h4>
                </div>
                <div class="text-left text-muted" th:if="${#lists.isEmpty(restaurantDetailsData.menuCategoryDataList)}">
                    <h4>No menu found</h4>
                </div>

                <!--/*@thymesVar id="restaurantDetailsData" type="io.tmg.hungryhappyhippo.poc.data.details.restaurant.RestaurantDetailsData"*/-->
                <div id="menuCategoriesContent" th:each="categoryMenu : ${restaurantDetailsData.menuCategoryDataList}">

                    <div class="row "
                         data-toggle="collapse"
                         th:data-target="'#category' + ${categoryMenu.id}">
                        <h5>
                            <span class="text-center font-italic"
                                  th:if="${!#strings.isEmpty(categoryMenu.menuCategoryName)}"
                                  th:text="${categoryMenu.menuCategoryName}"></span>
                        </h5>
                        <span th:class="${'glyphicon glyphicon-chevron-right ' + 'glyphicon_category' + categoryMenu.id}"></span>
                    </div>

                    <ul class="list-group">
                        <div th:id="'category' + ${categoryMenu.id}" class="collapse js-menu-category-collapse"
                             data-parent="#menuCategoriesContent">
                            <div th:each="productItem : ${categoryMenu.productItemList}" class="pt-2 pb-2">

                                <li class="list-group-item">
                                    <div class="row">
                                        <h5>
                                            <span class="text-info" th:text="${productItem.name}"></span>
                                        </h5>
                                    </div>
                                    <div class="row">
                                        <small class="text-muted"
                                               th:if="${!#strings.isEmpty(productItem.description)}"
                                               th:text="${productItem.description}"></small>
                                    </div>
                                    <div class="row">
                                        <small class="text-muted mb-0" th:if="${productItem.price != null}">
                                            Price: <span class="price price-available text-info" th:text="${#numbers.formatCurrency(productItem.price)}"></span>
                                        </small>
                                    </div>
                                </li>
                            </div>
                        </div>
                    </ul>

                </div>


            </div>
        </div>
    </div>
</div>
</body>
</html>