<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div id="content" th:fragment="content">
		<div class="container pt-4 js-admin-tool-container">
			<h2>Edit menu item</h2>
			<br>
			<form id="editForm" method="post" class="js-add-search-terms-form" th:action="@{/management/menuitems/save}" th:object="${item}">
				<input name="id" type="hidden" th:field="*{id}">
				<div class="form-group">
					<label for="menuId">Menu ID</label>
					<input th:field="*{menuId}"
						id="menuId"
						class="form-control form-control-sm"
						type="text"
						maxlength="100"
						placeholder="Enter menu ID">
					<span th:if="${#fields.hasErrors('menuId')}" th:errors="*{menuId}" class="badge badge-warning"></span>
				</div>
				<div class="form-group">
					<label for="menuName">Menu name</label>
					<input th:field="*{menuName}"
						   id="menuName"
						   class="form-control form-control-sm"
						   type="text"
						   maxlength="100"
						   placeholder="Enter menu name">
					<span th:if="${#fields.hasErrors('menuName')}" th:errors="*{menuName}" class="badge badge-warning"></span>
				</div>
				<div class="form-group">
					<label for="menuCategory">Menu category</label>
					<input th:field="*{menuCategory}"
						   id="menuCategory"
						   class="form-control form-control-sm"
						   type="text"
						   maxlength="100"
						   placeholder="Enter menu category">
					<span th:if="${#fields.hasErrors('menuCategory')}" th:errors="*{menuCategory}" class="badge badge-warning"></span>
				</div>
				<div class="form-group">
					<label for="restaurantId">Restaurant ID</label>
					<input th:field="*{restaurantId}"
						   id="restaurantId"
						   class="form-control form-control-sm"
						   type="text"
						   maxlength="100"
						   placeholder="Enter menu restaurant ID">
					<span th:if="${#fields.hasErrors('restaurantId')}" th:errors="*{restaurantId}" class="badge badge-warning"></span>
				</div>
				<div class="form-group">
					<label for="restaurantName">Restaurant Name</label>
					<input th:field="*{restaurantName}"
						   id="restaurantName"
						   class="form-control form-control-sm"
						   type="text"
						   maxlength="100"
						   placeholder="Enter menu restaurant name">
					<span th:if="${#fields.hasErrors('restaurantName')}" th:errors="*{restaurantName}" class="badge badge-warning"></span>
				</div>
				<div class="form-group">
					<label for="vendor">Vendor</label>
					<input th:field="*{vendor}"
						   id="vendor"
						   class="form-control form-control-sm"
						   type="text"
						   maxlength="100"
						   placeholder="Enter menu vendor">
					<span th:if="${#fields.hasErrors('vendor')}" th:errors="*{vendor}" class="badge badge-warning"></span>
				</div>
				<div class="form-group">
					<label for="name">Name</label>
					<input th:field="*{name}"
						   id="name"
						   class="form-control form-control-sm"
						   type="text"
						   maxlength="100"
						   placeholder="Enter menu name">
					<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="badge badge-warning"></span>
				</div>
				<div class="form-group">
					<label for="price">Price</label>
					<input th:field="*{price}"
						   id="price"
						   class="form-control form-control-sm"
						   type="number"
						   step="0.01"
						   placeholder="Enter item price">
					<span th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="badge badge-warning"></span>
				</div>
				<div class="form-group">
					<label for="imageUrl">Image URL</label>
					<input th:field="*{imageUrl}"
						   id="imageUrl"
						   class="form-control form-control-sm"
						   type="text"
						   maxlength="100"
						   placeholder="Enter item image URL">
					<span th:if="${#fields.hasErrors('imageUrl')}" th:errors="*{imageUrl}" class="badge badge-warning"></span>
				</div>
				<div class="form-group">
					<label for="description">Description</label>
					<textarea th:field="*{description}"
						   id="description"
						   class="form-control form-control-sm"
							  placeholder="Enter item descripton"></textarea>
					<span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary">Save</button>
					<a class="js-add-search-terms-link" th:href="@{/management/menuitems}">
						<button type="button" class="btn btn-info">Cancel</button>
					</a>
				</div>
			</form>
		</div>
	</div>
</body>
</html>