<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div id="content" th:fragment="content">
		<div class="container pt-4 js-admin-tool-container">
			<h2 class="mb-4">Menu Items Management</h2>
			<div th:replace="fragments/adminsearch :: adminsearch(page=${items}, url='/management/menuitems')"></div>
			<div th:replace="fragments/pagination :: pagination(page=${items}, url='/management/menuitems')"></div>
			<table class="table table-sm table-bordered mt-1">
				<thead>
					<tr>
						<th scope="col">ID</th>
						<th scope="col">Menu ID</th>
						<th scope="col">Menu Name</th>
						<th scope="col">Menu Category</th>
						<th scope="col">Restaurant ID</th>
						<th scope="col">Restaurant Name</th>
						<th scope="col">Vendor</th>
						<th scope="col">Name</th>
						<th scope="col">Controls</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="menuitem : ${items}">
						<td th:text="${menuitem.id}">id</td>
						<td th:text="${menuitem.menuId}">menuId</td>
						<td th:text="${menuitem.menuName}">menuName</td>
						<td th:text="${menuitem.menuCategory}">menuCategory</td>
						<td th:text="${menuitem.restaurantId}">restaurantId</td>
						<td th:text="${menuitem.restaurantName}">restaurantName</td>
						<td th:text="${menuitem.vendor}">vendor</td>
						<td th:text="${menuitem.name}">name</td>
						<td>
							<form class="form form-row js-add-search-terms-form" method="get" th:action="@{/management/menuitems/edit}">
								<input type="hidden" name="id" th:value="${menuitem.id}">
								<button class="btn btn-sm btn-block ml-2 mr-2 mt-1 mb-1 btn-info" type="submit">Edit</button>
							</form>
							<form class="form form-row js-add-search-terms-form" method="post" th:action="@{/management/menuitems/delete}">
								<input type="hidden" name="id" th:value="${menuitem.id}">
								<button class="btn btn-sm btn-block ml-2 mr-2 mb-1 btn-danger" type="submit">Delete</button>
							</form>
						</td>
					</tr>
				</tbody>
			</table>
			<div th:replace="fragments/pagination :: pagination(page=${items}, url='/management/menuitems')"></div>
			<form class="form form-row" method="get" th:action="@{/management/menuitems/create}">
				<button class="btn btn-sm ml-2 mr-2 mt-1 mb-1 btn-primary" type="submit">Add new</button>
			</form>
		</div>
		<div class="container pt-4">
			<h5 class="mb-4">Export</h5>
			<form class="form form-row js-add-search-terms-form" method="get" th:action="@{/management/menuitems/export}">
				<button class="btn btn-sm ml-2 mr-2 mt-1 mb-1 btn-success" type="submit">Export</button>
			</form>
		</div>
		<div class="container pt-4">
			<h5 class="mb-4">Import</h5>
			<form class="form form-row" method="post" enctype="multipart/form-data" th:action="@{/management/menuitems/import}">
				<div class="form-group">
					<input id="fileInput" class="form-control form-control-sm" type="file" name="file"/>
				</div>
				<div class="form-group">
					<button class="btn btn-sm ml-2 mr-2 mt-1 mb-1 btn-danger" type="submit">Import</button>
				</div>
			</form>
		</div>
	</div>
</body>
</html>