<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<div th:fragment="duration(value)" th:remove="tag">

    <span th:if="${value != null && value > 0}" class="duration duration-available duration-minutes text-info" th:text="${#numbers.formatDecimal(value, 1, 0) + ' minutes'}"></span>
    <span th:if="${value == null || value <= 0}" class="duration duration-unavailable duration-minutes text-info">Unavailable</span>

</div>
</html>