<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<!-- Pagination -->
<div th:fragment="pagination(page, url)" th:unless="${page == null} or ${page.totalPages < 2}" class="row">
    <div class="col col-md-3 form-group">
        <span class="page-item" th:text="'Showing ' + ${page.number * page.size} + ' - ' + ${(page.number + 1) * page.size} + ' out of ' + ${page.getTotalElements()}"></span>
    </div>

    <div class="col col-md-3">
        <nav>
            <form id="paginationSizeForm" class="form-inline pagination pull-right data-table-pagination"
                  th:action="@{${url}}" method="get">
                <input type="hidden" name="page" th:value="${page.number}">
                <div class="form-group">
                    <label class="col-xs-3 control-label" for="pageSizeSelect">Page Size:</label>
                    <div class="col-xs-5 selectContainer">
                        <select class="form-control" id="pageSizeSelect" name="size" onchange="this.form.submit()">
                            <option value="10" th:selected="${page.size==10}">10</option>
                            <option value="25" th:selected="${page.size==25}">25</option>
                            <option value="50" th:selected="${page.size==50}">50</option>
                            <option value="100" th:selected="${page.size==100}">100</option>
                        </select>
                    </div>
                </div>
            </form>
        </nav>
    </div>
    <div class="col col-md-4">
        <nav>
            <ul class="pagination pull-right data-table-pagination">
                <li th:class="'page-item ' + (${page.isFirst()} ? 'disabled' : '')">
                    <a class="page-link"
                       th:href="@{${url}(page=0, size=${page.size})}">First</a>
                </li>
                <li th:class="'page-item ' + (${page.hasPrevious()}? '' : 'disabled')">
                    <a class="page-link"
                       th:href="@{${url}(page=${page.number-1}, size=${page.size})}"
                       title='Go to previous page'>Prev</a>
                </li>
                <li th:unless="${p < 0} or ${p > page.totalPages-1}"
                    th:each="p:${#numbers.sequence(page.number-2,page.number+2)}"
                    th:class="'page-item ' + (${page.number == p} ? 'active' : '')">
                    <a class="page-link" th:text="${p+1}" th:href="@{${url}(page=${p}, size=${page.size})}"></a>
                </li>
                <li th:class="'page-item ' + (${page.hasNext()}? '' : 'disabled')">
                    <a class="page-link"
                       th:href='@{${url}(page=${page.number+1}, size=${page.size})}'
                       title='Go to next page'>Next</a>
                </li>
                <li th:class="'page-item ' + (${page.isLast()}? 'disabled' : '')">
                    <a class="page-link"
                       th:href='@{${url}(page=${page.totalPages-1}, size=${page.size})}'>Last</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
</html>