<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<div th:fragment="price(value, showFree)" th:remove="tag">

    <span th:if="${value != null && value > 0}" class="price price-available text-info" th:text="${#numbers.formatCurrency(value)}"></span>
    <span th:if="${value == 0}" class="price price-free text-info" th:text="${showFree ? 'Free' : 'None'}">Unavailable</span>
    <span th:if="${value == null || value < 0}" class="price price-unavailable text-info">Unavailable</span>

</div>
</html>