<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<div th:fragment="rating(value)" th:remove="tag">

    <span th:if="${value != null && value > 0}" class="rating rating-available text-success font-weight-bold" th:text="${#strings.replace(#numbers.formatDecimal(value, 1, 1, 'POINT'), '.0', '') + ' out of 5 stars'}"></span>
    <span th:if="${value == null || value <= 0}" class="rating rating-unavailable text-secondary font-weight-bold">Not yet rated</span>

</div>
</html>