<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<div th:fragment="restaurant(searchResult)">

    <div class="searchResult border border-dark rounded text-left m-2 p-3 row">
        <div class="col-8">

            <h5 th:if="${!#strings.isEmpty(searchResult.promotionalContent) || searchResult.promotionalWeight > 0}">
                    <span class="text-success">
                        <span class="text-success"
                              th:text="${!#strings.isEmpty(searchResult.promotionalContent) ? searchResult.promotionalContent : ((searchResult.promotionalWeight > 0) ? 'Featured' : '')}"></span>
                    </span>
            </h5>

            <h5>
                <a class="hyppo-text-primary font-weight-bold" th:href="${'/internal/restaurants/' + searchResult.id}" th:text="${searchResult.name}"></a>
            </h5>
            <div class="no-gutters">
                <small class="" th:text="${searchResult.address}"></small>
            </div>
            <div class="no-gutters">
                <small class="" th:text="${#numbers.formatDecimal(searchResult.distance, 1, 2, 'POINT') + ' miles away | Served to you by'}">Served to you by</small>
            </div>
            <div>
                <span th:each="vendor : ${searchResult.vendorRestaurants}" th:class="${'d-inline-block my-2 mr-3 hyppo-vendor-' + #strings.toLowerCase(#strings.substring(vendor, 0, 6))}"></span>
            </div>
        </div>
        <div class="col-4 text-right">
            <span th:replace="fragments/starrating :: starrating(value=${searchResult.rating})">Not yet rated</span>
        </div>
    </div>

</div>
</html>