<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<!-- Pagination -->
<div th:fragment="slider(inputName, labelText, minValue, maxValue, sliderMinValue, sliderMaxValue, sliderStep)">

    <hr>
    <label th:for="${inputName + 'Slider'}" th:text="${labelText}" class="font-weight-bold"></label>
    <span th:id="${inputName + 'Slider-from'}" class="pl-1 pr-3"></span>
    <input th:id="${inputName + 'Slider'}" type="text" class="js-sliders"
           th:data-slider-min="${sliderMinValue}"
           th:data-slider-max="${sliderMaxValue}"
           th:data-slider-step="${sliderStep}"
           th:data-slider-value="${(minValue != null && maxValue != null) ? ('[' + minValue + ',' + maxValue + ']') : '[' + sliderMinValue + ',' + sliderMaxValue + ']'}"
           th:data-from-value-selector="${'#' + inputName + 'Slider-from'}"
           th:data-to-value-selector="${'#' + inputName + 'Slider-to'}"
           th:data-input-from="${'#' + inputName + 'Min'}"
           th:data-input-to="${'#' + inputName + 'Max'}"
    />
    <span th:id="${inputName + 'Slider-to'}" class="pl-3"></span>

    <input type="checkbox"
           th:id="${inputName + 'Min'}"
           th:name="${inputName + 'Min'}"
           th:value="${minValue != null ? minValue : sliderMinValue}"
           th:checked="${minValue != null}"
           hidden>
    <input type="checkbox"
           th:id="${inputName + 'Max'}"
           th:name="${inputName + 'Max'}"
           th:value="${maxValue != null ? maxValue : sliderMaxValue}"
           th:checked="${maxValue != null}"
           hidden>

</div>
</html>