<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<div th:fragment="starrating(value)" th:remove="tag">
    <span th:each="i : ${#numbers.sequence(1, 5)}" th:class="${'mx-1 fa fa-star' +  (value >= i ? '' : '-o')}"></span>
</div>
</html>