<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<div th:fragment="vendorrestaurant(searchResult)">

    <div class="searchResult border row">
        <div class="col-4 col-lg-3">
            <img th:src="${searchResult.imageUrl}" width="100%" height="100%">
        </div>
        <div class="col-8 col-lg-9">
            <hr class="mr-0">

            <div class="row" id="promotionalContent" th:if="${!#strings.isEmpty(searchResult.promotionalContent) || searchResult.promotionalWeight > 0}">
                <h5>
                    <span class="text-success">
                        <span class="text-success"
                              th:text="${!#strings.isEmpty(searchResult.promotionalContent) ? searchResult.promotionalContent : ((searchResult.promotionalWeight > 0) ? 'Featured' : '')}"></span>
                    </span>
                </h5>
            </div>

            <div class="row">
                <h5>
                    <span class="text-dark font-weight-bold" th:text="${searchResult.name}"></span>
                    <small class="text-muted font-italic" th:text="${' - via ' + searchResult.vendor}"></small>
                    <small>
                        <a class="font-italic" th:href="${searchResult.vendorUrl}" target="_blank">Go to vendor site</a>
                    </small>
                </h5>
            </div>
            <div class="row">
                <small class="text-muted" th:text="${'Address: ' + searchResult.address}"></small>
            </div>
            <div class="row">
                <small class="text-muted"
                       th:text="${'Location: ' + searchResult.location.lat + ', ' + searchResult.location.lon}"></small>
            </div>
            <div class="row">
                <span th:replace="fragments/rating :: rating(value=${searchResult.rating})">Not yet rated</span>
            </div>
            <hr class="mr-0">
            <div class="row">
                <div class="col">
                    <p class="text-muted mb-0">Delivery Supported: <span th:replace="fragments/boolean :: boolean(value=${searchResult.delivery})">Unavailable</span></p>
                </div>
                <div class="col">
                    <p class="text-muted mb-0">Pickup Supported: <span th:replace="fragments/boolean :: boolean(value=${searchResult.pickup})">Unavailable</span></p>
                </div>
            </div>
            <hr class="mr-0">
            <div class="row">
                <div class="col">
                    Vendor Categories:
                    <small class="text-muted" th:text="${searchResult.vendorCategories}"></small>
                </div>
            </div>
            <hr class="mr-0">
            <div class="row justify-content-center" th:with="currentQueryString=(${'?' + #httpServletRequest.queryString})">
                <a class="text-info" th:href="${'/internal/vendorrestaurants/' + searchResult.id + currentQueryString}">View Details</a>
            </div>
            <hr class="mr-0">
        </div>
    </div>

</div>
</html>