/* General Page and Layout Custom CSS for HungryHappyHippo */

html,body {
	height: 100%;
	min-height: 100%;
	width: 100%;
	min-width: 100%;
}

#layoutPageWrapper {
	height: 100%;
	min-height: 100%;
	width: 100%;
	min-width: 100%;
}

#layoutHeader {
	width: 100%;
	min-width: 100%;
}

#layoutContent {
	width: 100%;
	min-width: 100%;
	height: 100%;
	min-height: 100%;
}

#layoutFooter {
	width: 100%;
	min-width: 100%;
}

#layoutNotificationBanner .alert {
	border-radius: 0;
}
