/* Global Custom CSS for HungryHappyHippo */

#layoutHeader .navbar {
	height: 100%;
}

body {
	margin-top: 56px;
}

/* Google Maps Address Autocomplete : Dropdown should display on top */
.pac-container {
	z-index: 2000;
}

.rating {
    float:left;
}

.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    /* padding:0 .1em; */
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:300%;
    /* line-height:1.2; */
    color:#ddd;
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: dodgerblue;
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: dodgerblue;
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: dodgerblue;
}

.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}

.hyppo-bg-dark {
    background-color: #110a1a !important;
}

.hyppo-btn-enter {
    background-color: #573881;
    color: white;
}

.hyppo-text-primary {
    color: #427bb5 !important;
}

a.hyppo-text-primary:hover, a.hyppo-text-primary:focus {
    color: #426282 !important;
}

.hyppo-vendor-caviar {
    background-image: url('../images/caviar.png');
    background-size: contain;
    width: 91px;
    height: 32px;
}
.hyppo-vendor-delive {
    background-image: url('../images/delivery.png');
    background-size: contain;
    width: 100px;
    height: 32px;
}
.hyppo-vendor-doorda {
    background-image: url('../images/doordash.png');
    background-size: contain;
    width: 263px;
    height: 32px;
}
.hyppo-vendor-favord {
    background-image: url('../images/favordelivery.png');
    background-size: contain;
    width: 165px;
    height: 32px;
}
.hyppo-vendor-grubhu {
    background-image: url('../images/grubhub.png');
    background-size: contain;
    width: 141px;
    height: 32px;
}
.hyppo-vendor-hungry {
    background-image: url('../images/hungrybuffs.png');
    background-size: contain;
    width: 100px;
    height: 32px;
}
.hyppo-vendor-postma {
    background-image: url('../images/postmates.png');
    background-size: contain;
    width: 188px;
    height: 32px;
}
.hyppo-vendor-uberea {
    background-image: url('../images/ubereats.png');
    background-size: contain;
    width: 178px;
    height: 32px;
}
