<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>


<div th:text="|User: ${#objects.nullSafe(feedbackUserData.userName, '')}|"></div>
<div th:text="|Email: ${#objects.nullSafe(feedbackUserData.userEmail, '')}|"></div>
<div>Feedback message:</div>
<div th:text="${#objects.nullSafe(feedbackUserData.feedbackMessage, '')}"></div>

</body>
</html>