<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        .report-table {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        .report-table td, .report-table th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        .report-table tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .report-table tr:hover {
            background-color: #ddd;
        }

        .report-table th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #4CAF50;
            color: white;
        }
    </style>
</head>
<body>

<h3>
    The General Metrics report
</h3>
<hr>
<h3>Index info</h3>
<div>
    <table class="report-table">
        <thead>
        <tr>
            <th>IndexName</th>
            <th>DocCount</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="indexData : ${generalMetricsData.indexDataList}">
            <td th:text="${indexData.name}"></td>
            <td th:text="${indexData.totalDocCount}"></td>
        </tr>
        </tbody>
    </table>
</div>
<hr>
<h3>Vendors info</h3>
<table class="report-table">
    <thead>
    <tr>
        <th></th>
        <th th:each="vendorStatData : ${generalMetricsData.vendorStatDataList}"
            th:text="${vendorStatData.vendorName}"></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Total number of vendor restaurants tied to it:</td>
        <td th:each="vendorStatData : ${generalMetricsData.vendorStatDataList}"
            th:text="${vendorStatData.vendorRestaurantsCount}"></td>
    </tr>
    <tr>
        <td>Total number of vendor restaurants tied to it that support delivery</td>
        <td th:each="vendorStatData : ${generalMetricsData.vendorStatDataList}"
            th:text="${vendorStatData.vendorRestaurantsDeliverySupportedCount}"></td>
    </tr>
    <tr>
        <td>Total number of vendor restaurants tied to it that support pickup</td>
        <td th:each="vendorStatData : ${generalMetricsData.vendorStatDataList}"
            th:text="${vendorStatData.vendorRestaurantsPickupSupportedCount}"></td>
    </tr>
    <tr>
        <td>Total number of vendor restaurants tied to it that support both</td>
        <td th:each="vendorStatData : ${generalMetricsData.vendorStatDataList}"
            th:text="${vendorStatData.vendorRestaurantsAllServiceOptionSupportedCount}"></td>
    </tr>
    <tr>
        <td>Total number of aggregate restaurants tied to it</td>
        <td th:each="vendorStatData : ${generalMetricsData.vendorStatDataList}"
            th:text="${vendorStatData.restaurantsCount}"></td>
    </tr>
    <tr>
        <td>Total number of aggregate restaurants tied exclusively to it</td>
        <td th:each="vendorStatData : ${generalMetricsData.vendorStatDataList}"
            th:text="${vendorStatData.restaurantsExclusivelyCount}"></td>
    </tr>
    </tbody>
</table>
<hr>
<h3>HelpfulSummaryData info</h3>
<div>
    <table class="report-table">
        <tbody>
        <tr>
            <td>Vendor restaurants are unlinked to an aggregate restaurant</td>
            <td th:text="${generalMetricsData.helpfulSummaryData.vendorRestaurantsWithoutAggregateCount}"></td>
        </tr>
        <tr>
            <td>Vendor restaurants are missing a rating(or have a 0 rating)</td>
            <td th:text="${generalMetricsData.helpfulSummaryData.vendorRestaurantsMissingRatingCount}"></td>
        </tr>
        <tr>
            <td>Vendor restaurants are missing a place id</td>
            <td th:text="${generalMetricsData.helpfulSummaryData.vendorRestaurantsMissingPlaceIdCount}"></td>
        </tr>

        <tr>
            <td>Aggregate restaurants have no categories linked</td>
            <td th:text="${generalMetricsData.helpfulSummaryData.restaurantsWithoutCategoryCount}"></td>
        </tr>
        <tr>
            <td>Aggregate restaurants have no vendor restaurants linked</td>
            <td th:text="${generalMetricsData.helpfulSummaryData.restaurantsWithoutVendorRestaurantsCount}"></td>
        </tr>
        <tr>
            <td>Aggregate restaurants have missing rating(or have a 0 rating)</td>
            <td th:text="${generalMetricsData.helpfulSummaryData.restaurantsMissingRatingCount}"></td>
        </tr>
        <tr>
            <td>Aggregate restaurants are missing a place id</td>
            <td th:text="${generalMetricsData.helpfulSummaryData.restaurantsMissingPlaceIdCount}"></td>
        </tr>
        <tr>
            <td>Aggregate restaurants are missing a price level</td>
            <td th:text="${generalMetricsData.helpfulSummaryData.restaurantsMissingPriceLevelCount}"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>