<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        .report-table {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        .report-table td, .report-table th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        .report-table tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .report-table tr:hover {
            background-color: #ddd;
        }

        .report-table th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #4CAF50;
            color: white;
        }
    </style>
</head>
<body>

<h3>
    The Service Health Check Report
</h3>
<!--/*@thymesVar id="serviceHealthCheckData" type="io.tmg.hungryhappyhippo.poc.data.healthcheck.ServiceHealthCheckData"*/-->
<hr>
<h3>Elasticsearch Info</h3>
<div>
    <div th:if="${serviceHealthCheckData.elasticsearchInfo.esAvailable}">
        <h4>Elasticsearch is up and running</h4>
        <div th:text="${serviceHealthCheckData.elasticsearchInfo.esStatusInfo}"></div>
    </div>
    <div th:if="${!serviceHealthCheckData.elasticsearchInfo.esAvailable}">
        <h4>Elasticsearch currently is unavailable. Error: </h4>
        <pre th:text="${serviceHealthCheckData.elasticsearchInfo.esStatusInfo}"></pre>
    </div>

    <table class="report-table" th:if="${serviceHealthCheckData.elasticsearchInfo.esAvailable}">
        <thead>
        <tr>
            <th>IndexName</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="indexModel : ${serviceHealthCheckData.elasticsearchInfo.indexModelList}">
            <td th:text="${indexModel.id}"></td>
            <td th:text="${indexModel.status}"></td>
        </tr>
        </tbody>
    </table>
</div>
<hr>
<h3>MongoDB Info</h3>
<div>
    <div th:if="${serviceHealthCheckData.mongoDBInfo.mongoDbAvailable}">
        <h4>MongoDB is up and running</h4>
        <div th:text="${serviceHealthCheckData.mongoDBInfo.mongoDbStatusInfo}"></div>
    </div>
    <div th:if="${!serviceHealthCheckData.mongoDBInfo.mongoDbAvailable}">
        <h4>MongoDB currently is unavailable. Error: </h4>
        <pre th:text="${serviceHealthCheckData.mongoDBInfo.mongoDbStatusInfo}"></pre>
    </div>

    <table class="report-table" th:if="${serviceHealthCheckData.mongoDBInfo.mongoDbAvailable}">
        <thead>
        <tr>
            <th>Param</th>
            <th>Value</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="entry : ${serviceHealthCheckData.mongoDBInfo.dbInfo.entrySet()}">
            <td th:text="${entry.key}"></td>
            <td th:text="${entry.value}"></td>
        </tr>

        </tbody>
    </table>
</div>
<hr>
<h3>Forage Endpoint's Availability Info</h3>
<div>
    <table class="report-table">
        <thead>
        <tr>
            <th>Endpoint</th>
            <th>Description</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="endPointData : ${serviceHealthCheckData.restApiInfo.endPointDataList}">
            <td th:text="${endPointData.endpoint}"></td>
            <td th:text="${endPointData.description}"></td>
            <td th:text="${endPointData.status}"></td>
        </tr>

        </tbody>
    </table>
</div>
<hr>

</body>
</html>