<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        .report-table {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        .report-table td, .report-table th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        .report-table tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .report-table tr:hover {
            background-color: #ddd;
        }

        .report-table th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #4CAF50;
            color: white;
        }
    </style>
</head>
<body>

<div>
    The list of restaurants that have problems with obtaining detailed information about availability
</div>

<hr>
<table class="report-table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Address</th>
        <th>Error</th>
        <th>Details Error</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${checkVendorRestaurantExistList}">
        <td th:text="${item.vendorRestaurantModel.id}"></td>
        <td>
            <a th:href="${item.vendorRestaurantModel.vendorUrl}" th:text="${item.vendorRestaurantModel.name}"></a>
        </td>
        <td th:text="${item.vendorRestaurantModel.address}"></td>
        <td th:text="${item.errorMessage}"></td>
        <td th:text="${item.detailsErrorMessage}"></td>
    </tr>
    </tbody>
</table>
<hr>


</body>
</html>