<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div id="content" th:fragment="content">
		<div class="container pt-4 js-admin-tool-container">
			<h2>Edit category</h2>
			<br>
			<form id="editForm" method="post" class="js-add-search-terms-form" th:action="@{/management/categories/save}" th:object="${item}">
				<input name="id" type="hidden" th:field="*{id}">
				<div class="form-group">
					<label for="name">Name</label>
					<input th:field="*{name}"
						id="name" required="required"
						class="form-control form-control-sm"
						type="text"
						maxlength="100"
						placeholder="Enter category name">
					<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="badge badge-warning"></span>
				</div>
				<div class="form-group">
					<label for="name">ImageUrl</label>
					<input th:field="*{imageUrl}"
						   id="imageUrl" required="required"
						   class="form-control form-control-sm"
						   type="text"
						   placeholder="Enter imageUrl">
					<span th:if="${#fields.hasErrors('imageUrl')}" th:errors="*{imageUrl}" class="badge badge-warning"></span>
				</div>
				<div class="form-group">
					<label for="keywords">Keywords</label>
					<textarea th:field="*{keywords}"
							  id="keywords"
							  class="form-control form-control-sm"
							  placeholder="Enter keywords"></textarea>
					<span th:if="${#fields.hasErrors('keywords')}" th:errors="*{keywords}" class="badge badge-warning"></span>
				</div>
				<div class="form-group">
					<label for="disableAutoLinkingByRestaurantName">Disable auto-linking by restaurant name</label>
					<input th:field="*{disableAutoLinkingByRestaurantName}"
						   id="disableAutoLinkingByRestaurantName"
						   class="form-control form-control-sm"
						   type="checkbox">
					<span th:if="${#fields.hasErrors('disableAutoLinkingByRestaurantName')}" th:errors="*{disableAutoLinkingByRestaurantName}" class="badge badge-warning"></span>
				</div>
				<div class="form-group">
					<label for="disableAutoLinkingByVendorCategory">Disable auto-linking by vendors category</label>
					<input th:field="*{disableAutoLinkingByVendorCategory}"
						   id="disableAutoLinkingByVendorCategory"
						   class="form-control form-control-sm"
						   type="checkbox">
					<span th:if="${#fields.hasErrors('disableAutoLinkingByVendorCategory')}" th:errors="*{disableAutoLinkingByVendorCategory}" class="badge badge-warning"></span>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary">Save</button>
					<a class="js-add-search-terms-link" th:href="@{/management/categories}">
						<button type="button" class="btn btn-info">Cancel</button>
					</a>
				</div>
			</form>
		</div>
	</div>
</body>
</html>