<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div id="content" th:fragment="content">
		<div class="container pt-4 js-admin-tool-container">
			<h2 class="mb-4">Categories Management</h2>
			<div th:replace="fragments/adminsearch :: adminsearch(page=${items}, url='/management/categories')"></div>
			<div th:replace="fragments/pagination :: pagination(page=${items}, url='/management/categories')"></div>
			<table class="table table-sm table-bordered mt-1">
				<thead>
					<tr>
						<th scope="col">ID</th>
						<th scope="col">Name</th>
						<th scope="col">ImageUrl</th>
						<th scope="col">Keywords (for auto-linking)</th>
						<th scope="col">Preview image</th>
						<th scope="col">Controls</th>
					</tr>
				</thead>
				<tbody>
				<!--/*@thymesVar id="items" type="java.util.List<io.tmg.hungryhappyhippo.poc.models.dto.CategoryDto>"*/-->
					<tr th:each="category : ${items}">
						<td th:text="${category.id}"></td>
						<td th:text="${category.name}"></td>
						<td>
							<a th:href="${category.imageUrl}" target="_blank" th:text="${category.imageUrl}"></a>
						</td>
						<td th:text="${category.keywords}"></td>
						<td>
							<div class="text-center">
								<img class="w-50" th:src="${category.imageUrl}" th:alt="${category.name} + '-image'">
							</div>
						</td>
						<td>
							<form class="form form-row js-add-search-terms-form" method="get" th:action="@{/management/categories/edit}">
								<input type="hidden" name="id" th:value="${category.id}">
								<button class="btn btn-sm btn-block ml-2 mr-2 mt-1 mb-1 btn-info" type="submit">Edit</button>
							</form>
							<form class="form form-row js-add-search-terms-form" method="post" th:action="@{/management/categories/delete}">
								<input type="hidden" name="id" th:value="${category.id}">
								<button class="btn btn-sm btn-block ml-2 mr-2 mb-1 btn-danger" type="submit">Delete</button>
							</form>
						</td>
					</tr>
				</tbody>
			</table>
			<div th:replace="fragments/pagination :: pagination(page=${items}, url='/management/categories')"></div>
			<form class="form form-row" method="get" th:action="@{/management/categories/create}">
				<button class="btn btn-sm ml-2 mr-2 mt-1 mb-1 btn-primary" type="submit">Add new</button>
			</form>
		</div>
		<div class="container pt-4">
			<h5 class="mb-4">Export</h5>
			<form class="form form-row js-add-search-terms-form" method="get" th:action="@{/management/categories/export}">
				<button class="btn btn-sm ml-2 mr-2 mt-1 mb-1 btn-success" type="submit">Export</button>
			</form>
		</div>
		<div class="container pt-4">
			<h5 class="mb-4">Import</h5>
			<form class="form form-row" method="post" enctype="multipart/form-data" th:action="@{/management/categories/import}">
				<div class="form-group">
					<input id="fileInput" class="form-control form-control-sm" type="file" name="file"/>
				</div>
				<div class="form-group">
					<button class="btn btn-sm ml-2 mr-2 mt-1 mb-1 btn-danger" type="submit">Import</button>
				</div>
			</form>
		</div>
	</div>
</body>
</html>